Repository SAP/project-foxhound: changes, and which Taskcluster tasks are due for each by the changed paths.
All: newtab-unit-tests, devtools-tests, devtools-verify-bundle, eslint-plugin-mozilla, rust, tb-rust, compare-locales-android-components, compare-locales-focus, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix, buildconfig-android-components, buildconfig-focus, buildconfig-fenix, messagingsystem-unit-tests, design-tokens-tests, default

newtab-unit-tests:
  description: newtab unit tests
  platform: linux1804-64/opt
  treeherder:
    symbol: node(newtab)
    kind: test
    tier: 1
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: ubuntu1804-test
    max-run-time: 1800
  require-build:
    by-project:
      autoland:
  ...

devtools-tests:
  description: devtools node-based tests (for instance jest)
  platform: linux1804-64/opt
  attributes:
    code-review: true
  treeherder:
    symbol: node(devtools)
    kind: test
    tier: 1
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
    artifacts:
  ...

devtools-verify-bundle:
  description: devtools bundle checker
  platform: linux1804-64/opt
  attributes:
    code-review: true
  treeherder:
    symbol: node(devtools-bundle)
    kind: test
    tier: 2
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1200
    artifacts:
    - type: file
  ...

eslint-plugin-mozilla:
  description: eslint-plugin-mozilla integration tests
  platform: linux1804-64/opt
  treeherder:
    symbol: node(epm)
    kind: test
    tier: 1
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

rust:
  description: Rust vendoring validation
  treeherder:
    symbol: rust(vendor)
  worker:
    env:
      MACH_BUILD_PYTHON_NATIVE_PACKAGE_SOURCE: system
  run:
    cwd: '{checkout}'
    command: ./mach vendor rust --issues-json /builds/worker/issues.json
  fetches:
    toolchain:
    - linux64-cargo-vet
    - linux64-rust

tb-rust:
  description: Schedule job to verify the comm-central copy of third_party/rust
  treeherder:
    symbol: tb-rust
  run:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/mobile/android/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/mobile/android/focus-android'
  treeherder:
    symbol: compare-locales(focus)

compare-locales-fenix:
  run:
    cwd: '{checkout}/mobile/android/fenix'
  treeherder:
    symbol: compare-locales(fenix)

detekt-android-components:
  run:
    pre-gradlew:
    - - cd
      - mobile/android/android-components
  treeherder:
    symbol: detekt(AC)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/gecko/mobile/android/android-components/build/reports
      type: directory

detekt-focus:
  run:
    pre-gradlew:
    - - cd
      - mobile/android/focus-android
  treeherder:
    symbol: detekt(focus)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/gecko/mobile/android/focus-android/build/reports
      type: directory

android-components:
  run:
    pre-gradlew:
    - - cd
      - mobile/android/android-components
    gradlew:
    - --no-parallel
  treeherder:
    symbol: lint(AC)

Revert "Bug 2038071 - history thumbnail card: ai-chat-card component a=RyanVM" for various build failures.
  browser/components/aiwindow/ui/components/ai-chat-card/ai-chat-card.css
  browser/components/aiwindow/ui/components/ai-chat-card/ai-chat-card.mjs
  browser/components/aiwindow/ui/components/ai-chat-card/ai-chat-card.stories.mjs
  browser/components/aiwindow/ui/jar.mn
Due: none

Bug 2048297 - Show the full remaining bracket in the sports widget from the quarter-finals a=RyanVM
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sports/SportsWidgetMiddleware.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/sports/SportsWidgetMiddlewareTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2045149 - Fix rlbox's unnecessary rejection of unaligned transfer buffers a=RyanVM
  third_party/rlbox/include/rlbox_stdlib.hpp
Due: none

Bug 2046401 - Adding Ownership to generated WebCrypto Object a=RyanVM DONTBUILD
  dom/crypto/CryptoKey.cpp
Due: none

Bug 2047467 - Update mp4parse-rust to b693c7e4a91d. a=RyanVM
  .cargo/config.toml.in
  Cargo.lock
  third_party/rust/mp4parse/.cargo-checksum.json
  third_party/rust/mp4parse/src/lib.rs
  third_party/rust/mp4parse/src/tests.rs
  third_party/rust/mp4parse/tests/public.rs
  third_party/rust/mp4parse_capi/.cargo-checksum.json
  third_party/rust/mp4parse_capi/tests/test_colour_info.rs
  toolkit/library/rust/shared/Cargo.toml
Due: rust, tb-rust

Bug 2047983 - Update fluent strings for Settings pane headers that use message references a=RyanVM
  browser/components/preferences/preferences.js
  browser/locales/en-US/browser/preferences/preferences.ftl
  python/l10n/fluent_migrations/bug_2047983_settings_pane_header_message_refs.py
Due: none

Bug 2014771 - Part 1: Delete legacy onboarding cards. a=RyanVM
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/onboarding.fml.yaml
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/HomeScreenRobot.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/OnboardingFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/OnboardingTelemetryRecorder.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/WidgetPinnedReceiver.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/redesign/view/OnboardingScreenRedesign.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/store/OnboardingPreferencesMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/store/OnboardingPreferencesRepository.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/store/OnboardingStore.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/MarketingDataOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingMapper.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPageState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPageUiData.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/TermsOfServiceOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/ThemeOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/ToolbarOnboardingPage.kt
  mobile/android/fenix/app/src/main/res/drawable/ic_pick_a_theme.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_pick_a_theme_dark.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_pick_a_theme_light.xml
  mobile/android/fenix/app/src/main/res/drawable/ic_pick_a_theme_system_auto.xml
  mobile/android/fenix/app/src/main/res/raw/keep.xml
  mobile/android/fenix/app/src/main/res/values/strings.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/DefaultBrowserPromptManagerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/MarketingPageRemovalSupportTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/store/DefaultOnboardingPreferencesRepositoryTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/store/OnboardingPreferencesMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/store/OnboardingStoreTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/view/OnboardingPageUiDataTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2014771 - Part 2: Remove the onboarding redesign flag and set as default flow. a=RyanVM
  mobile/android/fenix/app/onboarding.fml.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/OnboardingFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/WidgetPinnedReceiver.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/MarketingDataOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingMapper.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPageState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/TermsOfServiceOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/ToolbarOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/account/TurnOnSyncFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
  mobile/android/fenix/app/src/main/res/values/preference_keys.xml
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2014771 - Part 3: Fix the now flagged padding lints and update the baseline a=RyanVM
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/MarketingDataOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/TermsOfServiceOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/ToolbarOnboardingPage.kt
  mobile/android/fenix/config/detekt-baseline.xml
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2047849 - Part 1: Remove the shouldShowElevation parameter and use the existing isSmall flag for gating logic instead. a=RyanVM
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/MarketingDataOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingMapper.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingPageState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/TermsOfServiceOnboardingPage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/ToolbarOnboardingPage.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2047849 - Part 2: Rename the func parameter in toPageUiData to jexlEvaluator for improved clarity. a=RyanVM
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingMapper.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2047849 - Part 3: Reorder toPageUiData parameters to group JEXL-related parameters together. a=RyanVM
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/OnboardingFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingMapper.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2047849 - Part 4: Hoist the manufacturer check out of toPageUiData, reducing complexity and allowing removal of the LongParameterList suppression. a=RyanVM
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/onboarding/view/OnboardingMapperTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/OnboardingFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingMapper.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2047849 - Part 5: Reorder private functions in OnboardingMapper to follow call order and improve readability. a=RyanVM
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/OnboardingMapper.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2047930 - Part 1: Minor code tidy to make updating the treatment-c configuration simpler a=RyanVM
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/MarketingDataOnboardingPage.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2047930 - Part 2: Add Treatment C variant to the marketing data onboarding card a=RyanVM
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/onboarding/view/MarketingDataOnboardingPage.kt
  mobile/android/fenix/app/src/main/res/values/strings.xml
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2048329 - Expand microsurvey bottom sheet fully so the Submit button is visible without scrolling a=RyanVM
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/microsurvey/ui/MicrosurveyBottomSheetFragment.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2046945 - Part 1: Fire intl:l10n-sources-changed when L10nRegistry sources mutate a=RyanVM
  intl/l10n/L10nRegistry.cpp
  intl/l10n/test/test_l10nregistry_observer.js
  intl/l10n/test/xpcshell.toml
Due: none

Bug 2046945 - Part 2: Expose active langpack ids and a webextension-langpack-shutdown observer topic a=RyanVM
  toolkit/components/extensions/Extension.sys.mjs
  toolkit/mozapps/extensions/test/xpcshell/test_webextension_langpack.js
Due: none

Bug 2046945 - Part 1.5: Have AboutNewTabChild retrigger translation of about:newtab on intl:l10n-sources-changed. a=RyanVM
  browser/actors/AboutNewTabChild.sys.mjs
  browser/components/newtab/AboutNewTabRedirector.sys.mjs
Due: newtab-unit-tests

Bug 2046945 - Part 3: Register newtab XPI Fluent source into each active langpack's metasource a=RyanVM
  browser/components/newtab/AboutNewTabResourceMapping.sys.mjs
  browser/components/newtab/test/xpcshell/test_AboutNewTabResourceMapping_langpackShadow.js
  browser/components/newtab/test/xpcshell/xpcshell.toml
Due: newtab-unit-tests

Bug 2048663 - Remove platform-fragile test_topic_separation_from_app_locales_changed a=RyanVM
  intl/l10n/test/test_l10nregistry_observer.js
Due: none

Bug 2040784 - Introduce AIFeatureState to handle the "Unknown" states… r=boek a=RyanVM
  mobile/android/android-components/components/concept/ai-controls/src/main/java/mozilla/components/concept/ai/controls/AIControllableFeature.kt
  mobile/android/android-components/components/feature/summarize/src/main/java/mozilla/components/feature/summarize/PageSummaryFeature.kt
  mobile/android/android-components/components/feature/summarize/src/main/java/mozilla/components/feature/summarize/settings/SummarizationSettings.kt
  mobile/android/android-components/components/feature/summarize/src/main/java/mozilla/components/feature/summarize/settings/SummarizeSettingsMiddleware.kt
  mobile/android/android-components/components/feature/summarize/src/test/java/mozilla/components/feature/summarize/PageSummaryFeatureTest.kt
  mobile/android/android-components/components/feature/summarize/src/test/java/mozilla/components/feature/summarize/settings/PageSummariesSettingsMiddlewareTest.kt
  mobile/android/android-components/components/feature/summarize/src/test/java/mozilla/components/feature/summarize/settings/SummarizationSettingsTest.kt
  mobile/android/android-components/components/lib/ai-controls/src/main/java/mozilla/components/lib/ai/controls/AIFeatureRegistry.kt
  mobile/android/android-components/components/lib/ai-controls/src/test/java/mozilla/components/lib/ai/controls/AIFeatureBlockTest.kt
  mobile/android/android-components/components/lib/ai-controls/src/test/java/mozilla/components/lib/ai/controls/AIFeatureRegistryTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/FenixApplication.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/search/VoiceSearchAIControlFeature.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/CustomizationFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/ai/AIControlsScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/summarization/FenixSummarizationSettingsBinding.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/translations/TranslationsAIControllableFeature.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/search/VoiceSearchAIControlFeatureTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/translations/TranslationsAIControllableFeatureTest.kt
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2047507 - swap AIFeature state disk writes to IO dispatcher a=RyanVM
  mobile/android/android-components/components/lib/ai-controls/src/main/java/mozilla/components/lib/ai/controls/AIFeatureRegistry.kt
Due: compare-locales-android-components, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2048993 - Shake to summarize feature available but not listed in AI controls a=RyanVM
  mobile/android/android-components/components/lib/ai-controls/src/main/java/mozilla/components/lib/ai/controls/AIFeatureBlock.kt
  mobile/android/android-components/components/lib/ai-controls/src/main/java/mozilla/components/lib/ai/controls/AIFeatureBlockStorage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/experiments/RecordedNimbusContext.kt
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2049060 - Update defaults for shake-to-summarize to false in all channels a=RyanVM
  mobile/android/fenix/app/nimbus.fml.yaml
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2037624 - Implement manage_tabs tool for executing close tabs action a=RyanVM
  browser/components/aiwindow/models/Chat.sys.mjs
  browser/components/aiwindow/models/ManageTabs.sys.mjs
  browser/components/aiwindow/models/Tools.sys.mjs
  browser/components/aiwindow/models/Utils.sys.mjs
  browser/components/aiwindow/models/moz.build
  browser/components/aiwindow/models/tests/xpcshell/test_Chat.js
  browser/components/aiwindow/models/tests/xpcshell/test_ManageTabs.js
  browser/components/aiwindow/models/tests/xpcshell/test_Tools_ManageTabs.js
  browser/components/aiwindow/models/tests/xpcshell/test_Utils_RemoteSettings.js
  browser/components/aiwindow/models/tests/xpcshell/test_Utils_RemoteSettings_ChatModelChoice.js
  browser/components/aiwindow/models/tests/xpcshell/xpcshell.toml
Due: none

Bug 2037624 - Update tool response message for close_tabs after user interacts with confirmation ui a=RyanVM
  browser/components/aiwindow/ui/modules/ChatConversation.sys.mjs
  browser/components/aiwindow/ui/modules/ToolUI.sys.mjs
  browser/components/aiwindow/ui/test/xpcshell/test_ChatConversation.js
  browser/components/aiwindow/ui/test/xpcshell/test_ToolUI.js
Due: none

Bug 2037624 - Add modelling side telemetry for browser action a=RyanVM
  browser/components/aiwindow/metrics.yaml
  browser/components/aiwindow/models/Chat.sys.mjs
  browser/components/aiwindow/models/ManageTabs.sys.mjs
  browser/components/aiwindow/models/Tools.sys.mjs
  browser/components/aiwindow/models/tests/xpcshell/head.js
  browser/components/aiwindow/ui/components/ai-window/ai-window.mjs
  browser/components/aiwindow/ui/modules/ChatConversation.sys.mjs
  browser/components/aiwindow/ui/modules/ToolUITelemetry.sys.mjs
  browser/components/aiwindow/ui/test/browser/browser_smartwindow_uitool_telemetry.js
Due: none

Bug 2031517 - Add Close tab confirmation feature callout config a=RyanVM
  browser/components/aboutwelcome/content/aboutwelcome.css
  browser/components/asrouter/content-src/styles/_feature-callout.scss
  browser/components/asrouter/content/components/asrouter-newtab-multistage/asrouter-newtab-multistage.css
  browser/components/asrouter/modules/ASRouterTriggerListeners.sys.mjs
  browser/components/asrouter/modules/FeatureCalloutMessages.sys.mjs
  browser/components/asrouter/tests/browser/browser_trigger_listeners.js
  browser/locales-preview/aiWindow.ftl
  toolkit/components/messaging-system/schemas/TriggerActionSchemas/TriggerActionSchemas.json
  toolkit/components/messaging-system/schemas/TriggerActionSchemas/index.md
Due: newtab-unit-tests, messagingsystem-unit-tests

Bug 2040036 - Follow-up: restore l10n changes dropped during release uplift a=RyanVM
  browser/components/aiwindow/ui/components/ai-chat-content/ai-chat-content.mjs
  browser/locales-preview/aiWindow.ftl
Due: none

Bug 2035339 - Persist toolUIData through ChatStore a=RyanVM
  browser/components/aiwindow/ui/components/ai-chat-content/ai-chat-content.mjs
  browser/components/aiwindow/ui/modules/AIWindowConstants.sys.mjs
  browser/components/aiwindow/ui/modules/ChatConversation.sys.mjs
  browser/components/aiwindow/ui/modules/ChatMigrations.sys.mjs
  browser/components/aiwindow/ui/modules/ChatSql.sys.mjs
  browser/components/aiwindow/ui/modules/ChatStore.sys.mjs
  browser/components/aiwindow/ui/modules/ChatUtils.sys.mjs
  browser/components/aiwindow/ui/test/xpcshell/test_ChatConversation.js
  browser/components/aiwindow/ui/test/xpcshell/test_ChatStore.js
  browser/components/aiwindow/ui/test/xpcshell/test_chat-utils.js
Due: none

No Bug, mozilla-release repo-update remote-settings mobile-experiments - a=RyanVM
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/ai-window-prompts.json
  services/settings/dumps/security-state/intermediates.json
  services/settings/dumps/security-state/onecrl.json
Due: compare-locales-fenix, detekt-fenix, fenix

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  browser/locales/l10n-changesets.json
Due: none

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: none

Automatic version bump NO BUG a=release CLOSED TREE DONTBUILD
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
  mobile/android/version.txt
Due: none

Bug 2049845 - Stop AboutNewTabResourceMapping from re-entering its own observer when registering shadow l10n sources a=RyanVM
  browser/components/newtab/AboutNewTabResourceMapping.sys.mjs
  browser/components/newtab/test/xpcshell/test_AboutNewTabResourceMapping_langpackShadow.js
Due: newtab-unit-tests

No Bug, mozilla-release repo-update remote-settings mobile-experiments mobile-merino-manifest - a=RyanVM
  mobile/android/android-components/components/service/merino-manifest/src/main/assets/manifest/manifest.json
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/ai-window-prompts.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
  services/settings/dumps/security-state/intermediates.json
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: none

Path conditions:
  newtab-unit-tests: (any of: browser/components/newtab/**, browser/components/aboutwelcome/**, browser/components/asrouter/**) or (any of: browser/extensions/newtab/**)
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  devtools-verify-bundle: any of: devtools/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  rust: any of: Cargo.lock, **/Cargo.toml, python/mozbuild/mozbuild/vendor/vendor_rust.py, supply-chain/**, third_party/rust/**
  tb-rust: any of: Cargo.lock, Cargo.toml, toolkit/library/rust/shared/Cargo.toml
  compare-locales-android-components: any of: mobile/android/android-components/**
  compare-locales-focus: any of: mobile/android/focus-android/**
  compare-locales-fenix: any of: mobile/android/fenix/**
  detekt-android-components: any of: mobile/android/android-components/**
  detekt-focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  detekt-fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  android-components: any of: mobile/android/android-components/**
  focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  buildconfig-android-components: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml
  buildconfig-focus: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/focus-android/**/build.gradle, mobile/android/focus-android/.buildconfig.yml
  buildconfig-fenix: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/fenix/**/build.gradle, mobile/android/fenix/.buildconfig.yml
  messagingsystem-unit-tests: any of: browser/components/aboutwelcome/**, browser/components/asrouter/**
  design-tokens-tests: any of: toolkit/themes/shared/design-system/**
  default: any of: testing/web-platform/tests/tools/**
