Repository SAP/project-foxhound: changes, and which Taskcluster tasks are due for each by the changed paths.
All: newtab-unit-tests, devtools-tests, devtools-verify-bundle, eslint-plugin-mozilla, rust, tb-rust, compare-locales-android-components, compare-locales-focus, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix, buildconfig-android-components, buildconfig-focus, buildconfig-fenix, messagingsystem-unit-tests, design-tokens-tests, default

Path conditions:
  newtab-unit-tests: (any of: browser/components/newtab/**, browser/components/aboutwelcome/**, browser/components/asrouter/**) or (any of: browser/extensions/newtab/**)
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  devtools-verify-bundle: any of: devtools/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  rust: any of: Cargo.lock, **/Cargo.toml, python/mozbuild/mozbuild/vendor/vendor_rust.py, supply-chain/**, third_party/rust/**
  tb-rust: any of: Cargo.lock, Cargo.toml, toolkit/library/rust/shared/Cargo.toml
  compare-locales-android-components: any of: mobile/android/android-components/**
  compare-locales-focus: any of: mobile/android/focus-android/**
  compare-locales-fenix: any of: mobile/android/fenix/**
  detekt-android-components: any of: mobile/android/android-components/**
  detekt-focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  detekt-fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  android-components: any of: mobile/android/android-components/**
  focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  buildconfig-android-components: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml
  buildconfig-focus: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/focus-android/**/build.gradle, mobile/android/focus-android/.buildconfig.yml
  buildconfig-fenix: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/fenix/**/build.gradle, mobile/android/fenix/.buildconfig.yml
  messagingsystem-unit-tests: any of: browser/components/aboutwelcome/**, browser/components/asrouter/**
  design-tokens-tests: any of: toolkit/themes/shared/design-system/**
  default: any of: testing/web-platform/tests/tools/**

Bug 2047850: Read system print dialog results from the printInfo passed to the sheet on macOS. a=RyanVM DONTBUILD
  widget/cocoa/nsPrintDialogX.mm
Due: none

Bug 2039575 - Work around crashes in CanAttachDOMCall on Raptor Lake CPUs. a=RyanVM
  js/src/jit/CacheIR.cpp
Due: none

Bug 2046945 - Part 1: Fire intl:l10n-sources-changed when L10nRegistry sources mutate a=diannaS
  intl/l10n/L10nRegistry.cpp
  intl/l10n/test/test_l10nregistry_observer.js
  intl/l10n/test/xpcshell.toml
Due: none

Bug 2046945 - Part 1.5: Have AboutNewTabChild retrigger translation of about:newtab on intl:l10n-sources-changed. a=diannaS
  browser/actors/AboutNewTabChild.sys.mjs
  browser/components/newtab/AboutNewTabRedirector.sys.mjs
Due: newtab-unit-tests

Bug 2046945 - Part 2: Expose active langpack ids and a webextension-langpack-shutdown observer topic a=diannaS
  toolkit/components/extensions/Extension.sys.mjs
  toolkit/mozapps/extensions/test/xpcshell/test_webextension_langpack.js
Due: none

Bug 2046945 - Part 3: Register newtab XPI Fluent source into each active langpack's metasource a=diannaS
  browser/components/newtab/AboutNewTabResourceMapping.sys.mjs
  browser/components/newtab/test/xpcshell/test_AboutNewTabResourceMapping_langpackShadow.js
  browser/components/newtab/test/xpcshell/xpcshell.toml
Due: newtab-unit-tests

Revert "Bug 2046945 - Part 3: Register newtab XPI Fluent source into each active langpack's metasource" a=backout
  browser/components/newtab/AboutNewTabResourceMapping.sys.mjs
  browser/components/newtab/test/xpcshell/test_AboutNewTabResourceMapping_langpackShadow.js
  browser/components/newtab/test/xpcshell/xpcshell.toml
Due: newtab-unit-tests

Revert "Bug 2046945 - Part 2: Expose active langpack ids and a webextension-langpack-shutdown observer topic " a=backout
  toolkit/components/extensions/Extension.sys.mjs
  toolkit/mozapps/extensions/test/xpcshell/test_webextension_langpack.js
Due: none

Revert "Bug 2046945 - Part 1.5: Have AboutNewTabChild retrigger translation of about:newtab on intl:l10n-sources-changed." a=backout
  browser/actors/AboutNewTabChild.sys.mjs
  browser/components/newtab/AboutNewTabRedirector.sys.mjs
Due: newtab-unit-tests

Revert "Bug 2046945 - Part 1: Fire intl:l10n-sources-changed when L10nRegistry sources mutate" for causing xpc failures a=backout
  intl/l10n/L10nRegistry.cpp
  intl/l10n/test/test_l10nregistry_observer.js
  intl/l10n/test/xpcshell.toml
Due: none

Automatic version bump NO BUG a=release CLOSED TREE DONTBUILD
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
  mobile/android/version.txt
Due: none

Bug 2031516 - Integrate disambiguation flow for natural language tab actions a=RyanVM
  browser/base/content/test/static/browser_all_files_referenced.js
  browser/components/aiwindow/ui/components/ai-chat-content/ai-chat-content.mjs
  browser/components/aiwindow/ui/components/ai-website-confirmation/ai-website-confirmation.mjs
  browser/components/aiwindow/ui/components/ai-website-confirmation/ai-website-confirmation.stories.mjs
  browser/components/aiwindow/ui/components/ai-website-select/ai-website-select.mjs
  browser/components/aiwindow/ui/components/ai-website-select/ai-website-select.stories.mjs
  browser/components/aiwindow/ui/components/ai-window/ai-window.mjs
  browser/components/aiwindow/ui/modules/ChatConversation.sys.mjs
  browser/components/aiwindow/ui/modules/TabManagementService.sys.mjs
  browser/components/aiwindow/ui/modules/ToolUI.sys.mjs
  browser/components/aiwindow/ui/test/browser/browser.toml
  browser/components/aiwindow/ui/test/browser/browser_aiwindow_chat_tool_ui.js
  browser/components/aiwindow/ui/test/browser/browser_aiwindow_tab_close_integration.js
  browser/components/aiwindow/ui/test/browser/browser_aiwindow_website_confirmation.js
  browser/components/aiwindow/ui/test/browser/browser_aiwindow_website_select.js
  browser/components/aiwindow/ui/test/browser/test_aiwindow_tab_close_integration.html
  browser/components/aiwindow/ui/test/browser/test_website_confirmation_page.html
  browser/components/aiwindow/ui/test/browser/test_website_select_page.html
  browser/components/aiwindow/ui/test/xpcshell/test_TabManagementService.js
  browser/components/aiwindow/ui/test/xpcshell/test_ToolUI.js
Due: none

Bug 2040769 - Handle direct tab close action without confirmation card a=RyanVM
  browser/components/aiwindow/ui/modules/ToolUI.sys.mjs
  browser/components/aiwindow/ui/test/xpcshell/test_ToolUI.js
Due: none

Bug 2037203 - Add telemetry for natural language browser actions a=RyanVM
  browser/components/aiwindow/metrics.yaml
  browser/components/aiwindow/ui/components/ai-chat-content/ai-chat-content.mjs
  browser/components/aiwindow/ui/components/ai-window/ai-window.mjs
  browser/components/aiwindow/ui/modules/ToolUI.sys.mjs
  browser/components/aiwindow/ui/modules/ToolUITelemetry.sys.mjs
  browser/components/aiwindow/ui/moz.build
  browser/components/aiwindow/ui/test/browser/browser.toml
  browser/components/aiwindow/ui/test/browser/browser_smartwindow_uitool_telemetry.js
  browser/components/aiwindow/ui/test/xpcshell/test_ToolUI.js
Due: none

Bug 2035893 - Handle new prompts while disambiguation/confirmation UI is active a=RyanVM
  browser/components/aiwindow/ui/components/ai-chat-content/ai-chat-content.css
  browser/components/aiwindow/ui/components/ai-chat-content/ai-chat-content.mjs
  browser/components/aiwindow/ui/components/ai-window/ai-window.mjs
  browser/components/aiwindow/ui/modules/ChatConversation.sys.mjs
  browser/components/aiwindow/ui/modules/ToolUI.sys.mjs
  browser/components/aiwindow/ui/test/xpcshell/test_ToolUI.js
  browser/locales-preview/aiWindowContent.ftl
Due: none

Bug 2039867 - Simplify ImporterMiddleware delay strategy and drop ImportCancelled action when no import is active a=RyanVM
  mobile/android/android-components/components/feature/importer/src/main/java/mozilla/components/feature/importer/ImporterMiddleware.kt
  mobile/android/fenix/app/src/test/java/mozilla/components/feature/importer/ImporterMiddlewareTest.kt
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2041089: Enable long-press to multi-select for tab groups a=RyanVM
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabgroups/TabGroupRow.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/TabsTrayTelemetryMiddleware.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/interactable/InteractableGrid.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/browser/compose/interactable/InteractableList.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/controller/TabManagerController.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/controller/TabManagerInteractor.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/redux/action/TabsTrayAction.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/redux/reducer/TabsTrayReducer.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/ui/TabManagementFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/ui/tabpage/TabLayout.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/TabsTrayTelemetryMiddlewareTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/browser/compose/InteractableGridTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/browser/compose/InteractableListTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/controller/DefaultTabManagerControllerTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/redux/reducer/TabsTrayStoreReducerTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2045094 - Fix bug causing tab groups to not always display when first created a=RyanVM
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/tabs/TabGroupTools.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/debugsettings/ui/FenixOverlay.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabgroups/fakes/FakeTabGroupRepository.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabgroups/storage/data/TabGroupData.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabgroups/storage/data/TabGroupDataTransforms.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabgroups/storage/database/StoredTabGroupDao.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabgroups/storage/database/StoredTabGroupWithAssignments.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabgroups/storage/database/TabGroupAssignment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabgroups/storage/database/TabGroupAssignmentDao.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabgroups/storage/database/TabGroupDatabase.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabgroups/storage/database/TabGroupOperationsDao.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabgroups/storage/repository/TabGroupRepository.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/tabstray/redux/middleware/TabStorageMiddleware.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabgroups/storage/DefaultTabGroupRepositoryTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabgroups/storage/data/TabGroupDataTransformsTest.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/tabstray/redux/middleware/TabStorageMiddlewareTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2042361 - Derive the toolbar's adaptive padding from the measured width a=RyanVM
  mobile/android/android-components/components/compose/browser-toolbar/src/main/java/mozilla/components/compose/browser/toolbar/ui/FullDisplayToolbar.kt
Due: compare-locales-android-components, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2046131 - Enable Edge2Edge background by default on Release. a=RyanVM
  mobile/android/fenix/app/nimbus.fml.yaml
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2043502 - Annotate buffer addresses as HIGHP_FS_ADDRESS to avoid truncation. a=RyanVM
  gfx/wr/webrender/res/ps_quad_gradient.glsl
Due: none

Bug 2029632 [X11] Set compositing hits on realize a=RyanVM DONTBUILD
  widget/gtk/nsWindowX11.cpp
  widget/gtk/nsWindowX11.h
Due: none

Bug 1849039 - Add DualSense support to Gamepad API. a=RyanVM DONTBUILD
  dom/gamepad/GamepadRemapping.cpp
  dom/gamepad/GamepadRemapping.h
Due: none

Bug 2046797: Poll XInput gamepads by their XInput user index, not array position. a=RyanVM DONTBUILD
  dom/gamepad/windows/WindowsGamepad.cpp
Due: none

Bug 2044746 - Don't bother revalidating between shadow / non-shadow contents. a=RyanVM
  servo/components/style/sharing/checks.rs
  testing/web-platform/tests/css/css-shadow/same-rules-bug-2044746-crash.html
  testing/web-platform/tests/css/css-shadow/same-rules-bug-2044746-ref.html
  testing/web-platform/tests/css/css-shadow/same-rules-bug-2044746.html
Due: none

Bug 2044746 - Appease wptlint. DONTBUILD
  testing/web-platform/tests/css/css-shadow/same-rules-bug-2044746-ref.html
  testing/web-platform/tests/css/css-shadow/same-rules-bug-2044746.html
Due: none

Bug 2044288 - add a desktop-only CSS webcompat intervention for www.kuaishou.com; a=RyanVM DONTBUILD
  browser/extensions/webcompat/data/interventions/2044288-www.kuaishou.com.json
  browser/extensions/webcompat/manifest.json
  browser/extensions/webcompat/preprocessed_intervention_files.mozbuild
Due: none

Bug 2044098 - Enable Smart Window sidebar toggle keybind a=RyanVM DONTBUILD
  browser/base/content/browser-sets.js
  browser/components/aiwindow/ui/test/browser/browser_sidebar_aiwindow.js
Due: none

Bug 2035139 - Show correct smartbar action after typing during an AI response a=RyanVM DONTBUILD
  browser/components/aiwindow/ui/test/browser/browser_aiwindow_stop_generation.js
  browser/components/urlbar/content/SmartbarInput.mjs
Due: none

Bug 2038071 - history thumbnail card: ai-chat-card component a=RyanVM
  browser/components/aiwindow/ui/components/ai-chat-card/ai-chat-card.css
  browser/components/aiwindow/ui/components/ai-chat-card/ai-chat-card.mjs
  browser/components/aiwindow/ui/components/ai-chat-card/ai-chat-card.stories.mjs
  browser/components/aiwindow/ui/jar.mn
Due: none

Bug 2038069 - history thumbnail grid: ai-chat-grid component a=RyanVM
  browser/components/aiwindow/ui/assets/ai-chat-grid-loading.svg
  browser/components/aiwindow/ui/assets/icon-grid-view.svg
  browser/components/aiwindow/ui/assets/icon-list-view.svg
  browser/components/aiwindow/ui/components/ai-chat-grid/ai-chat-grid.css
  browser/components/aiwindow/ui/components/ai-chat-grid/ai-chat-grid.mjs
  browser/components/aiwindow/ui/components/ai-chat-grid/ai-chat-grid.stories.mjs
  browser/components/aiwindow/ui/content/ai-window-shared.css
  browser/components/aiwindow/ui/jar.mn
  browser/locales-preview/aiWindow.ftl
Due: none

Bug 2038069 - integrate ai-chat-grid and ai-chat-card to browser history search tool call a=RyanVM
  browser/components/DesktopActorRegistry.sys.mjs
  browser/components/aiwindow/models/HistoryThumbnails.sys.mjs
  browser/components/aiwindow/models/SearchBrowsingHistory.sys.mjs
  browser/components/aiwindow/models/SearchBrowsingHistoryDomainBoost.sys.mjs
  browser/components/aiwindow/models/Tools.sys.mjs
  browser/components/aiwindow/models/moz.build
  browser/components/aiwindow/ui/actors/AIChatContentChild.sys.mjs
  browser/components/aiwindow/ui/actors/AIChatContentParent.sys.mjs
  browser/components/aiwindow/ui/components/ai-chat-content/ai-chat-content.css
  browser/components/aiwindow/ui/components/ai-chat-content/ai-chat-content.mjs
  browser/components/aiwindow/ui/components/ai-chat-content/chat-assistant-footer/applied-memories-button.css
  browser/components/aiwindow/ui/components/ai-chat-message/ai-chat-message.css
  browser/components/aiwindow/ui/components/ai-chat-message/ai-chat-message.mjs
  browser/components/aiwindow/ui/components/ai-window/ai-window.mjs
  browser/components/aiwindow/ui/modules/ChatConversation.sys.mjs
  browser/components/aiwindow/ui/test/browser/head.js
  toolkit/components/thumbnails/BackgroundPageThumbs.sys.mjs
Due: none

Bug 2038073 - History Thumbnail Grid telemetry a=RyanVM
  browser/components/DesktopActorRegistry.sys.mjs
  browser/components/aiwindow/ui/actors/AIChatContentChild.sys.mjs
  browser/components/aiwindow/ui/actors/AIChatContentParent.sys.mjs
  browser/components/aiwindow/ui/components/ai-chat-message/ai-chat-message.mjs
  browser/components/aiwindow/ui/modules/AIWindowTelemetry.sys.mjs
  browser/components/aiwindow/ui/moz.build
Due: none

Bug 2042865 - add test coverage for history thumbnail grid a=RyanVM
  browser/components/aiwindow/models/tests/xpcshell/head.js
  browser/components/aiwindow/ui/components/ai-chat-card/ai-chat-card.css
  browser/components/aiwindow/ui/test/browser/browser.toml
  browser/components/aiwindow/ui/test/browser/browser_aichat_message.js
  browser/components/aiwindow/ui/test/browser/browser_aichat_message_table.js
  browser/components/aiwindow/ui/test/browser/browser_aichat_open_link.js
  browser/components/aiwindow/ui/test/browser/browser_aiwindow_url_security.js
  browser/components/aiwindow/ui/test/browser/browser_smartwindow_history_thumbnails.js
  browser/components/aiwindow/ui/test/browser/browser_smartwindow_history_thumbnails_telemetry.js
  browser/components/aiwindow/ui/test/browser/head.js
  browser/components/aiwindow/ui/test/browser/head_history_thumbnails.js
Due: none

Bug 2042865 - Remove non-existent tests from the manifest. a=bustage
  browser/components/aiwindow/ui/test/browser/browser.toml
Due: none

Revert "Bug 2042865 - Remove non-existent tests from the manifest. a=bustage"
  browser/components/aiwindow/ui/test/browser/browser.toml
Due: none

Revert "Bug 2042865 - add test coverage for history thumbnail grid a=RyanVM"
  browser/components/aiwindow/models/tests/xpcshell/head.js
  browser/components/aiwindow/ui/components/ai-chat-card/ai-chat-card.css
  browser/components/aiwindow/ui/test/browser/browser.toml
  browser/components/aiwindow/ui/test/browser/browser_aichat_message.js
  browser/components/aiwindow/ui/test/browser/browser_aichat_message_table.js
  browser/components/aiwindow/ui/test/browser/browser_aichat_open_link.js
  browser/components/aiwindow/ui/test/browser/browser_aiwindow_url_security.js
  browser/components/aiwindow/ui/test/browser/browser_smartwindow_history_thumbnails.js
  browser/components/aiwindow/ui/test/browser/browser_smartwindow_history_thumbnails_telemetry.js
  browser/components/aiwindow/ui/test/browser/head.js
  browser/components/aiwindow/ui/test/browser/head_history_thumbnails.js
Due: none

Revert "Bug 2038073 - History Thumbnail Grid telemetry a=RyanVM"
  browser/components/DesktopActorRegistry.sys.mjs
  browser/components/aiwindow/ui/actors/AIChatContentChild.sys.mjs
  browser/components/aiwindow/ui/actors/AIChatContentParent.sys.mjs
  browser/components/aiwindow/ui/components/ai-chat-message/ai-chat-message.mjs
  browser/components/aiwindow/ui/modules/AIWindowTelemetry.sys.mjs
  browser/components/aiwindow/ui/moz.build
Due: none

Revert "Bug 2038069 - integrate ai-chat-grid and ai-chat-card to browser history search tool call a=RyanVM"
  browser/components/DesktopActorRegistry.sys.mjs
  browser/components/aiwindow/models/HistoryThumbnails.sys.mjs
  browser/components/aiwindow/models/SearchBrowsingHistory.sys.mjs
  browser/components/aiwindow/models/SearchBrowsingHistoryDomainBoost.sys.mjs
  browser/components/aiwindow/models/Tools.sys.mjs
  browser/components/aiwindow/models/moz.build
  browser/components/aiwindow/ui/actors/AIChatContentChild.sys.mjs
  browser/components/aiwindow/ui/actors/AIChatContentParent.sys.mjs
  browser/components/aiwindow/ui/components/ai-chat-content/ai-chat-content.css
  browser/components/aiwindow/ui/components/ai-chat-content/ai-chat-content.mjs
  browser/components/aiwindow/ui/components/ai-chat-content/chat-assistant-footer/applied-memories-button.css
  browser/components/aiwindow/ui/components/ai-chat-message/ai-chat-message.css
  browser/components/aiwindow/ui/components/ai-chat-message/ai-chat-message.mjs
  browser/components/aiwindow/ui/components/ai-window/ai-window.mjs
  browser/components/aiwindow/ui/modules/ChatConversation.sys.mjs
  browser/components/aiwindow/ui/test/browser/head.js
  toolkit/components/thumbnails/BackgroundPageThumbs.sys.mjs
Due: none

Revert "Bug 2038069 - history thumbnail grid: ai-chat-grid component a=RyanVM"
  browser/components/aiwindow/ui/assets/ai-chat-grid-loading.svg
  browser/components/aiwindow/ui/assets/icon-grid-view.svg
  browser/components/aiwindow/ui/assets/icon-list-view.svg
  browser/components/aiwindow/ui/components/ai-chat-grid/ai-chat-grid.css
  browser/components/aiwindow/ui/components/ai-chat-grid/ai-chat-grid.mjs
  browser/components/aiwindow/ui/components/ai-chat-grid/ai-chat-grid.stories.mjs
  browser/components/aiwindow/ui/content/ai-window-shared.css
  browser/components/aiwindow/ui/jar.mn
  browser/locales-preview/aiWindow.ftl
Due: none
