Repository SAP/project-foxhound: changes, and which Taskcluster tasks are due for each by the changed paths.
All: newtab-unit-tests, devtools-tests, devtools-verify-bundle, eslint-plugin-mozilla, rust, tb-rust, compare-locales-android-components, compare-locales-focus, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix, buildconfig-android-components, buildconfig-focus, buildconfig-fenix, messagingsystem-unit-tests, design-tokens-tests, default

newtab-unit-tests:
  description: newtab unit tests
  platform: linux1804-64/opt
  treeherder:
    symbol: node(newtab)
    kind: test
    tier: 1
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: ubuntu1804-test
    max-run-time: 1800
  require-build:
    by-project:
      autoland:
  ...

devtools-tests:
  description: devtools node-based tests (for instance jest)
  platform: linux1804-64/opt
  attributes:
    code-review: true
  treeherder:
    symbol: node(devtools)
    kind: test
    tier: 1
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
    artifacts:
  ...

devtools-verify-bundle:
  description: devtools bundle checker
  platform: linux1804-64/opt
  attributes:
    code-review: true
  treeherder:
    symbol: node(devtools-bundle)
    kind: test
    tier: 2
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1200
    artifacts:
    - type: file
  ...

eslint-plugin-mozilla:
  description: eslint-plugin-mozilla integration tests
  platform: linux1804-64/opt
  treeherder:
    symbol: node(epm)
    kind: test
    tier: 1
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

rust:
  description: Rust vendoring validation
  treeherder:
    symbol: rust(vendor)
  worker:
    env:
      MACH_BUILD_PYTHON_NATIVE_PACKAGE_SOURCE: system
  run:
    cwd: '{checkout}'
    command: ./mach vendor rust --issues-json /builds/worker/issues.json
  fetches:
    toolchain:
    - linux64-cargo-vet
    - linux64-rust

tb-rust:
  description: Schedule job to verify the comm-central copy of third_party/rust
  treeherder:
    symbol: tb-rust
  run:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/mobile/android/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/mobile/android/focus-android'
  treeherder:
    symbol: compare-locales(focus)

compare-locales-fenix:
  run:
    cwd: '{checkout}/mobile/android/fenix'
  treeherder:
    symbol: compare-locales(fenix)

detekt-android-components:
  run:
    pre-gradlew:
    - - cd
      - mobile/android/android-components
  treeherder:
    symbol: detekt(AC)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/gecko/mobile/android/android-components/build/reports
      type: directory

detekt-focus:
  run:
    pre-gradlew:
    - - cd
      - mobile/android/focus-android
  treeherder:
    symbol: detekt(focus)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/gecko/mobile/android/focus-android/build/reports
      type: directory

android-components:
  run:
    pre-gradlew:
    - - cd
      - mobile/android/android-components
    gradlew:
    - --no-parallel
  treeherder:
    symbol: lint(AC)

Bug 2049418 - Take account of interaction between sweeping and the store buffer when updating weak ref targets a=pascalc
  js/src/gc/FinalizationObservers.cpp
  js/src/gc/GCRuntime.h
  js/src/jsapi.cpp
Due: none

Bug 2045511 - update nsHttpTransaction::Close() handling of NS_BINDING_RETARGETED. a=pascalc
  netwerk/protocol/http/nsHttpTransaction.cpp
Due: none

Bug 2030652 - Await l10n translation before setting alert role on infobar notifications a=pascalc
  accessible/tests/browser/events/browser.toml
  accessible/tests/browser/events/browser_notification_infobar.js
  toolkit/content/widgets/notificationbox.js
Due: none

Bug 2042739. . a=pascalc
  js/src/jit/Ion.cpp
Due: none

Bug 2052703. a=pascalc
  image/decoders/nsJXLDecoder.cpp
Due: none

Bug 2050986 - Remove Scope Session a=pascalc
  mobile/android/android-components/components/feature/ipprotection/src/main/java/mozilla/components/feature/ipprotection/IPProtectionFxaAuthFlow.kt
Due: compare-locales-android-components, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2047962 - Unwrap legacy data:text/plain, pref values in autoconfig. ,Gijs a=pascalc
  extensions/pref/autoconfig/src/prefcalls.js
  extensions/pref/autoconfig/test/unit/autoconfig-all.cfg
  extensions/pref/autoconfig/test/unit/test_autoconfig.js
Due: none

Bug 2050967 - Part 1: Add AccountScopeAccessor to read AccountStorage persisted state a=pascalc
  mobile/android/android-components/components/service/firefox-accounts/build.gradle
  mobile/android/android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/AccountScopeAccessor.kt
  mobile/android/android-components/components/service/firefox-accounts/src/main/java/mozilla/components/service/fxa/manager/FxaAccountManager.kt
  mobile/android/android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/FxaAccountManagerTest.kt
  mobile/android/android-components/components/service/firefox-accounts/src/test/java/mozilla/components/service/fxa/manager/AccountScopeAccessorTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix, buildconfig-android-components, buildconfig-focus, buildconfig-fenix

Bug 2050967 - Part 2: Introduce account scope check to IPProtection a=pascalc
  mobile/android/android-components/components/feature/ipprotection/src/main/java/mozilla/components/feature/ipprotection/IPProtectionStorageSynchronizer.kt
  mobile/android/android-components/components/feature/ipprotection/src/main/java/mozilla/components/feature/ipprotection/store/Actions.kt
  mobile/android/android-components/components/feature/ipprotection/src/main/java/mozilla/components/feature/ipprotection/store/Reducers.kt
  mobile/android/android-components/components/feature/ipprotection/src/test/java/mozilla/components/feature/ipprotection/IPProtectionReducerTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/IPProtectionFragment.kt
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2035442 - Update whatCanYouDoItems for dnsNotFound error a=pascalc
  toolkit/content/errors/net-errors.mjs
  toolkit/content/tests/browser/browser_error_registry.js
  toolkit/locales/en-US/toolkit/neterror/netError.ftl
Due: none

No Bug, mozilla-beta repo-update HSTS HPKP - a=pascalc
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
Due: none

Bug 2048511 - Failsafe and chunk size adjustments to support slower embedding models in the future a=pascalc
  toolkit/components/ml/content/nlp/EmbeddingsGenerator.sys.mjs
  toolkit/components/ml/tests/browser/browser_ml_embeddings_generator.js
  toolkit/components/nimbus/FeatureManifest.yaml
  toolkit/components/places/PlacesSemanticHistoryManager.sys.mjs
  toolkit/components/places/metrics.yaml
  toolkit/components/places/tests/unit/test_PlacesSemanticHistoryManager.js
  tools/@types/generated/lib.gecko.glean.d.ts
Due: none

No Bug - Import translations from main
  mobile/android/android-components/components/feature/media/src/main/res/values-fi/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-fi/strings.xml
  mobile/android/android-components/components/feature/protection-dashboard/src/main/res/values-fi/strings.xml
  mobile/android/android-components/components/feature/summarize/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-cs/strings.xml
  mobile/android/fenix/app/src/main/res/values-fi/strings.xml
  mobile/android/fenix/app/src/main/res/values-pa-rIN/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: none

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: none

Bug 2052798 - Make asserts in VerifyClientPrincipalInfosMatch more granular. a=pascalc
  docshell/base/nsDocShell.cpp
Due: none

Bug 2028004. a=pascalc
  gfx/ycbcr/ycbcr_to_rgb565.cpp
Due: none

Bug 2048338 - Smart Window Full Page Single Row Topsites a=pascalc
  browser/components/aiwindow/metrics.yaml
  browser/components/aiwindow/ui/components/ai-window/ai-window.css
  browser/components/aiwindow/ui/components/ai-window/ai-window.mjs
  browser/components/aiwindow/ui/components/smartwindow-topsites/smartwindow-topsites.css
  browser/components/aiwindow/ui/components/smartwindow-topsites/smartwindow-topsites.mjs
  browser/components/aiwindow/ui/components/smartwindow-topsites/smartwindow-topsites.stories.mjs
  browser/components/aiwindow/ui/jar.mn
  browser/components/aiwindow/ui/test/browser/browser.toml
  browser/components/aiwindow/ui/test/browser/browser_smartwindow_topsites.js
Due: none

Bug 2047802 - validate SampleBuffer I/O bounds. a=pascalc
  dom/media/platforms/android/AndroidDataEncoder.cpp
  dom/media/platforms/android/RemoteDataDecoder.cpp
  mobile/android/geckoview/src/main/java/org/mozilla/gecko/media/SampleBuffer.java
Due: none

Bug 2047522 - Set and manage backup path state in the backupService. a=pascalc
  browser/components/DesktopActorRegistry.sys.mjs
  browser/components/backup/actors/BackupUIChild.sys.mjs
  browser/components/backup/actors/BackupUIParent.sys.mjs
  browser/components/backup/content/backup-settings.mjs
  browser/components/backup/content/restore-from-backup.mjs
  browser/components/backup/content/turn-on-scheduled-backups.mjs
  browser/components/backup/tests/browser/browser_settings.js
  browser/components/backup/tests/browser/browser_settings_restore_from_backup.js
  browser/components/backup/tests/browser/browser_settings_turn_on_scheduled_backups.js
  browser/components/backup/tests/chrome/test_backup_settings.html
Due: none

Automatic version bump NO BUG a=release CLOSED TREE DONTBUILD
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
  mobile/android/version.txt
Due: none

Bug 2046575 - Ignore the now unsupported setting to hide local search shortcuts from the drop-downs. a=pascalc
  browser/components/urlbar/content/SearchModeSwitcher.mjs
  browser/components/urlbar/tests/browser-searchMode/browser_searchModeSwitcher_basic.js
Due: none

Bug 2050140 - Add new action-only message type in messaging system a=pascalc
  browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  browser/components/asrouter/content-src/schemas/make-schemas.py
  browser/components/asrouter/content-src/templates/OnboardingMessage/ActionOnlyMessage.schema.json
  browser/components/asrouter/content/asrouter-admin.bundle.js
  browser/components/asrouter/docs/action-only.md
  browser/components/asrouter/docs/index.rst
  browser/components/asrouter/modules/ASRouter.sys.mjs
  browser/components/asrouter/modules/ASRouterParentProcessMessageHandler.sys.mjs
  browser/components/asrouter/modules/ASRouterTelemetry.sys.mjs
  browser/components/asrouter/modules/ActorConstants.mjs
  browser/components/asrouter/tests/unit/ASRouter.test.js
  browser/components/asrouter/tests/xpcshell/test_ASRouterTelemetry.js
  toolkit/components/messaging-system/schemas/index.rst
Due: newtab-unit-tests, messagingsystem-unit-tests

Bug 2050368 - Check for end of charstring. a=pascalc
  gfx/cairo/cairo/src/cairo-type1-subset.c
  gfx/cairo/patches/0040-type1-decode-integer.patch
Due: none

Bug 2049331 - Disable email tracking protection from the redesigned ETP Custom UI. a=pascalc
  browser/components/preferences/config/privacy.mjs
  browser/components/preferences/tests/etp/browser_etp_customize_2.js
Due: none

Bug 2045198 - Don't bother checking ancestors for constructed check. a=pascalc
  layout/style/ServoCSSRuleList.cpp
  layout/style/StyleSheet.cpp
  layout/style/StyleSheet.h
Due: none

Bug 2050145 - Add targeting attribute for is launch on login a=pascalc
  browser/components/asrouter/docs/targeting-attributes.md
  browser/components/asrouter/modules/ASRouterTargeting.sys.mjs
  browser/components/asrouter/tests/browser/browser_asrouter_targeting.js
Due: newtab-unit-tests, messagingsystem-unit-tests

Bug 2050143 - Add a new REMOVE_LAUNCH_ON_LOGIN message action a=pascalc
  toolkit/components/messaging-system/lib/SpecialMessageActions.sys.mjs
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/SpecialMessageActionSchemas.json
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/index.md
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/test/browser/browser.toml
  toolkit/components/messaging-system/schemas/SpecialMessageActionSchemas/test/browser/browser_sma_launch_on_login.js
Due: none

Revert "Bug 2050140 - Add new action-only message type in messaging system a=pascalc" for linting errors a=backout
  browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  browser/components/asrouter/content-src/schemas/make-schemas.py
  browser/components/asrouter/content-src/templates/OnboardingMessage/ActionOnlyMessage.schema.json
  browser/components/asrouter/content/asrouter-admin.bundle.js
  browser/components/asrouter/docs/action-only.md
  browser/components/asrouter/docs/index.rst
  browser/components/asrouter/modules/ASRouter.sys.mjs
  browser/components/asrouter/modules/ASRouterParentProcessMessageHandler.sys.mjs
  browser/components/asrouter/modules/ASRouterTelemetry.sys.mjs
  browser/components/asrouter/modules/ActorConstants.mjs
  browser/components/asrouter/tests/unit/ASRouter.test.js
  browser/components/asrouter/tests/xpcshell/test_ASRouterTelemetry.js
  toolkit/components/messaging-system/schemas/index.rst
Due: newtab-unit-tests, messagingsystem-unit-tests

No Bug, mozilla-beta repo-update remote-settings tld-suffixes mobile-experiments mobile-merino-manifest ct-logs - a=diannaS
  mobile/android/android-components/components/service/merino-manifest/src/main/assets/manifest/manifest.json
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/ai-window-prompts.json
  services/settings/dumps/main/devtools-compatibility-browsers.json
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

No Bug - Import translations from main
  mobile/android/android-components/components/feature/ipprotection/src/main/res/values-eo/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-eo/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-eo/strings.xml
  mobile/android/android-components/components/feature/protection-dashboard/src/main/res/values-eo/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-tg/strings.xml
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Automatic version bump NO BUG a=release CLOSED TREE DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

No Bug - Import translations from main
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-lo/strings.xml
  mobile/android/android-components/components/compose/awesomebar/src/main/res/values-lo/strings.xml
  mobile/android/android-components/components/feature/password-importer/src/main/res/values-trs/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-trs/strings.xml
  mobile/android/android-components/components/feature/protection-dashboard/src/main/res/values-trs/strings.xml
  mobile/android/android-components/components/feature/summarize/src/main/res/values-trs/strings.xml
  mobile/android/fenix/app/longfox/src/main/res/values-trs/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-fy-rNL/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-trs/strings.xml
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2050000 - Block social media trackers from the redesigned ETP Custom UI. a=pascalc
  browser/components/preferences/config/privacy.mjs
  browser/components/preferences/tests/etp/browser_etp_customize_2.js
Due: none

Bug 2050749 - Force a tracker list update from the redesigned ETP Custom cryptominer/fingerprinter toggles. a=pascalc
  browser/components/preferences/config/privacy.mjs
  browser/components/preferences/tests/etp/browser_etp_customize_2.js
Due: none

Bug 2050750 - Record privacy.ui.fpp.click telemetry from the redesigned ETP Custom suspect fingerprinting controls. a=pascalc
  browser/components/preferences/config/privacy.mjs
  browser/components/preferences/tests/etp/browser_etp_customize_2.js
Due: none

Path conditions:
  newtab-unit-tests: (any of: browser/components/newtab/**, browser/components/aboutwelcome/**, browser/components/asrouter/**) or (any of: browser/extensions/newtab/**)
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  devtools-verify-bundle: any of: devtools/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  rust: any of: Cargo.lock, **/Cargo.toml, python/mozbuild/mozbuild/vendor/vendor_rust.py, supply-chain/**, third_party/rust/**
  tb-rust: any of: Cargo.lock, Cargo.toml, toolkit/library/rust/shared/Cargo.toml
  compare-locales-android-components: any of: mobile/android/android-components/**
  compare-locales-focus: any of: mobile/android/focus-android/**
  compare-locales-fenix: any of: mobile/android/fenix/**
  detekt-android-components: any of: mobile/android/android-components/**
  detekt-focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  detekt-fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  android-components: any of: mobile/android/android-components/**
  focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  buildconfig-android-components: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml
  buildconfig-focus: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/focus-android/**/build.gradle, mobile/android/focus-android/.buildconfig.yml
  buildconfig-fenix: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/fenix/**/build.gradle, mobile/android/fenix/.buildconfig.yml
  messagingsystem-unit-tests: any of: browser/components/aboutwelcome/**, browser/components/asrouter/**
  design-tokens-tests: any of: toolkit/themes/shared/design-system/**
  default: any of: testing/web-platform/tests/tools/**
