Repository SAP/project-foxhound: changes, and which Taskcluster tasks are due for each by the changed paths.
All: newtab-unit-tests, devtools-tests, devtools-verify-bundle, eslint-plugin-mozilla, rust, tb-rust, compare-locales-android-components, compare-locales-focus, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix, buildconfig-android-components, buildconfig-focus, buildconfig-fenix, messagingsystem-unit-tests, design-tokens-tests, default

Path conditions:
  newtab-unit-tests: (any of: browser/components/newtab/**, browser/components/aboutwelcome/**, browser/components/asrouter/**) or (any of: browser/extensions/newtab/**)
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  devtools-verify-bundle: any of: devtools/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  rust: any of: Cargo.lock, **/Cargo.toml, python/mozbuild/mozbuild/vendor/vendor_rust.py, supply-chain/**, third_party/rust/**
  tb-rust: any of: Cargo.lock, Cargo.toml, toolkit/library/rust/shared/Cargo.toml
  compare-locales-android-components: any of: mobile/android/android-components/**
  compare-locales-focus: any of: mobile/android/focus-android/**
  compare-locales-fenix: any of: mobile/android/fenix/**
  detekt-android-components: any of: mobile/android/android-components/**
  detekt-focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  detekt-fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  android-components: any of: mobile/android/android-components/**
  focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  buildconfig-android-components: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml
  buildconfig-focus: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/focus-android/**/build.gradle, mobile/android/focus-android/.buildconfig.yml
  buildconfig-fenix: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/fenix/**/build.gradle, mobile/android/fenix/.buildconfig.yml
  messagingsystem-unit-tests: any of: browser/components/aboutwelcome/**, browser/components/asrouter/**
  design-tokens-tests: any of: toolkit/themes/shared/design-system/**
  default: any of: testing/web-platform/tests/tools/**

Bug 2045783: Clean up TRRQuery::CompleteLookup a=pascalc
  netwerk/dns/TRRQuery.cpp
Due: none

Bug 2045783: Add thread-safety checks to TRRQuery a=pascalc
  netwerk/dns/TRRQuery.cpp
  netwerk/dns/TRRQuery.h
Due: none

Bug 2045865 - Use row_bytes rather than bitmap->pitch when copying glyph. a=pascalc
  gfx/cairo/cairo/src/cairo-ft-font.c
  gfx/cairo/patches/0037-pcf-row_bytes.patch
Due: none

Bug 2047719. a=pascalc
  gfx/wr/swgl/src/gl.cc
Due: none

Bug 2049995 - Make stub installer tests expect the ESR suffix in the legacy uninstall key a=pascalc
  browser/installer/windows/nsis/test_stub.nsi
Due: none

Bug 2050110 - Avoid holding PDMFactorySupport mutex while registering invalidation listeners a=pascalc
  dom/media/platforms/PDMFactorySupport.cpp
  dom/media/platforms/PDMFactorySupport.h
Due: none

Bug 2045767 - a=pascalc
  dom/canvas/DrawTargetWebgl.cpp
Due: none

Bug 2049392 - improve nsStandardURL parsing. n=#necko a=pascalc
  netwerk/base/nsStandardURL.cpp
Due: none

Bug 2045875 - Empty authority is not compatible with port a=pascalc
  netwerk/base/nsStandardURL.cpp
Due: none

Bug 2051489 - Render the home wallpaper behind ime height padded content a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/config/detekt-baseline.xml
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2039860 - Only apply `selected` semantics to bookmark items when in selection mode a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/bookmarks/BookmarksScreen.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2050409 - Part 1: Announce VPN On/Off action in Talkback a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/menu/compose/IPProtectionMenuItem.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/menu/compose/IPProtectionMenuItemTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2050416 - Part 2: Announce VPN settings screen page title in TalkBack a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/IPProtectionScreen.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2045752 - Part 1: Ensure brand overrides browser-theme design tokens a=pascalc
  browser/extensions/newtab/content-src/styles/nova/_tokens.scss
  browser/extensions/newtab/css/activity-stream.css
  browser/extensions/newtab/css/nova/activity-stream.css
  browser/themes/shared/tabbrowser/tab.tokens.css
  browser/themes/shared/tabbrowser/tabs-navbar.tokens.css
  browser/themes/shared/urlbar/urlbar.tokens.css
  browser/themes/shared/urlbar/urlbarview.tokens.css
  toolkit/content/widgets/moz-badge/moz-badge.tokens.css
  toolkit/content/widgets/moz-box.tokens.css
  toolkit/content/widgets/moz-breadcrumb-group/moz-breadcrumb.tokens.css
  toolkit/content/widgets/moz-input-color/moz-input-color.tokens.css
  toolkit/content/widgets/moz-message-bar/moz-message-bar.tokens.css
  toolkit/content/widgets/moz-page-nav/moz-page-nav.tokens.css
  toolkit/content/widgets/moz-promo/moz-promo.tokens.css
  toolkit/content/widgets/moz-reorderable-list/moz-reorderable-list.tokens.css
  toolkit/content/widgets/moz-select/moz-select.tokens.css
  toolkit/content/widgets/moz-toggle/moz-toggle.tokens.css
  toolkit/content/widgets/moz-visual-picker/moz-visual-picker-item.tokens.css
  toolkit/themes/shared/design-system/config/tokens-config.js
  toolkit/themes/shared/design-system/dist/semantic-categories.mjs
  toolkit/themes/shared/design-system/dist/tokens-brand.css
  toolkit/themes/shared/design-system/dist/tokens-platform.css
  toolkit/themes/shared/design-system/dist/tokens-shared.css
  toolkit/themes/shared/design-system/dist/tokens-table.mjs
  toolkit/themes/shared/design-system/docs/README.design-tokens.stories.md
  toolkit/themes/shared/design-system/src/tokens/base/color.nova.tokens.json
  toolkit/themes/shared/design-system/src/tokens/base/color.tokens.json
  toolkit/themes/shared/design-system/src/tokens/components/button.nova.tokens.json
  toolkit/themes/shared/design-system/src/tokens/components/button.tokens.json
  toolkit/themes/shared/design-system/src/tokens/components/link.nova.tokens.json
  toolkit/themes/shared/design-system/src/tokens/components/link.tokens.json
Due: newtab-unit-tests, design-tokens-tests

Bug 2045752 - Part 2: Refactor color tokens with nativeTheme a=pascalc
  toolkit/themes/shared/design-system/dist/semantic-categories.mjs
  toolkit/themes/shared/design-system/dist/tokens-brand.css
  toolkit/themes/shared/design-system/dist/tokens-figma-theme.json
  toolkit/themes/shared/design-system/dist/tokens-platform.css
  toolkit/themes/shared/design-system/dist/tokens-shared.css
  toolkit/themes/shared/design-system/dist/tokens-table.mjs
  toolkit/themes/shared/design-system/src/tokens/base/color.nova.tokens.json
  toolkit/themes/shared/design-system/src/tokens/base/color.tokens.json
  toolkit/themes/shared/design-system/src/tokens/components/button.nova.tokens.json
  toolkit/themes/shared/design-system/src/tokens/components/button.tokens.json
Due: design-tokens-tests

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: none

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: none

Bug 2035772 - Add vertical scroll modifier to Page Summaries Settings Screen a=dmeehan DONTBUILD
  mobile/android/android-components/components/feature/summarize/src/main/java/mozilla/components/feature/summarize/settings/SummarizeSettingsScreen.kt
Due: compare-locales-android-components, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2036806 - Add nimbus flag for expanded toolbar feature. a=dmeehan DONTBUILD
  mobile/android/fenix/app/nimbus.fml.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/utils/Settings.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2048202 - Update HomeFragment.initStoriesState to use safe component access and prevent potential lifecycle-related crash a=dmeehan DONTBUILD
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2049602 - Fix Crash [@ android.os.FileUriExposedException: at android.os.StrictMode.onFileUriExposed(StrictMode.java)] at DownloadUIShareMiddleware. a=dmeehan DONTBUILD
  mobile/android/android-components/components/support/utils/src/main/java/mozilla/components/support/utils/DefaultDownloadFileUtils.kt
  mobile/android/android-components/components/support/utils/src/main/java/mozilla/components/support/utils/DownloadFileUtils.kt
  mobile/android/android-components/components/support/utils/src/test/java/mozilla/components/support/utils/DefaultDownloadFileUtilsTest.kt
  mobile/android/android-components/components/support/utils/src/testFixtures/kotlin/mozilla/components/support/utils/FakeDownloadFileUtils.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/listscreen/middleware/DownloadUIShareMiddleware.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/downloads/listscreen/middleware/DownloadUIShareMiddlewareTest.kt
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2051090 - Fix crashed-tab UI "submit crash report to Mozilla" checkbox. a=dmeehan DONTBUILD
  mobile/android/fenix/app/src/main/res/layout/view_crash_reporter.xml
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2049750 - Avoid consuming horizontal swipes in toolbar's vertical gestures handler a=dmeehan
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/gestures/ToolbarVerticalGesturesHandler.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/gestures/ToolbarVerticalGesturesHandlerTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2047112 - Close all matching tabs including unloaded tab on NL a=dmeehan DONTBUILD
  browser/components/aiwindow/models/Chat.sys.mjs
  browser/components/aiwindow/models/ManageTabs.sys.mjs
  browser/components/aiwindow/models/Tools.sys.mjs
  browser/components/aiwindow/models/tests/xpcshell/test_ManageTabs.js
  browser/components/aiwindow/ui/components/ai-website-confirmation/ai-website-confirmation.mjs
  browser/components/aiwindow/ui/components/ai-website-select/ai-website-select.mjs
  browser/components/aiwindow/ui/modules/ToolUI.sys.mjs
  browser/components/aiwindow/ui/test/browser/test_website_confirmation_page.html
  browser/components/aiwindow/ui/test/xpcshell/test_ToolUI.js
Due: none

Bug 2048383 - Don't let a card with no expiration date empty the payment methods list - uplift for release. a=dmeehan DONTBUILD
  browser/extensions/formautofill/test/unit/test_paymentsListItems.js
  browser/extensions/formautofill/test/unit/xpcshell.toml
  toolkit/components/formautofill/FormAutofillPreferences.sys.mjs
Due: none

Bug 2050518 - Add getTodayStats() to PrivacyMetricsService for today's tracking-protection counts a=dmeehan DONTBUILD
  browser/components/protections/PrivacyMetricsService.sys.mjs
  browser/components/protections/test/xpcshell/test_PrivacyMetricsService.js
Due: none

Bug 2051274 - Guard gBackgroundFlushRunner deref in BackgroundFlushCallback. a=dmeehan
  parser/html/nsHtml5TreeOpExecutor.cpp
Due: none

Automatic version bump NO BUG a=release CLOSED TREE DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

Bug 2052161 - Exclude quick-xml from cargo-audit until plist upgrades past the vulnerable range. a=dmeehan
  tools/lint/cargo-audit.yml
Due: none

Bug 2051041 - Make sure a completed download is not deleted from disk when user settings is "delete downloads from history only". a=dmeehan
  mobile/android/android-components/components/feature/downloads/src/main/java/mozilla/components/feature/downloads/AbstractFetchDownloadService.kt
  mobile/android/android-components/components/feature/downloads/src/test/java/mozilla/components/feature/downloads/AbstractFetchDownloadServiceTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2052161 - Exclude quick-xml from cargo-audit until plist upgrades past the vulnerable range. a=dmeehan DONTBUILD
  tools/lint/cargo-audit.yml
Due: none

No Bug - Import translations from main
  mobile/android/fenix/app/src/main/res/values-bqi/strings.xml
  mobile/android/fenix/app/src/main/res/values-el/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-es/strings.xml
  mobile/android/fenix/app/src/main/res/values-ro/strings.xml
  mobile/android/fenix/app/src/main/res/values-ru/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2051431 - Retire the World Cup sports widget for all users after the tournament a=dmeehan
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/Components.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/sports/SportsWidgetState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sports/CountdownCalculator.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ui/Homepage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/HomeSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/settingssearch/secretsettings/SecretSettingsSearchFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/sports/CountdownCalculatorTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2051431 - Retire the World Cup sports widget for all users after the tournament a=dmeehan
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/appstate/sports/SportsWidgetState.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/sports/CountdownCalculator.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/ui/Homepage.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/HomeSettingsFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/sports/CountdownCalculatorTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

No Bug - Import translations from main
  mobile/android/android-components/components/feature/prompts/src/main/res/values-gn/strings.xml
  mobile/android/fenix/app/src/main/res/values-ar/strings.xml
  mobile/android/fenix/app/src/main/res/values-bg/strings.xml
  mobile/android/fenix/app/src/main/res/values-bqi/strings.xml
  mobile/android/fenix/app/src/main/res/values-cy/strings.xml
  mobile/android/fenix/app/src/main/res/values-de/strings.xml
  mobile/android/fenix/app/src/main/res/values-dsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-el/strings.xml
  mobile/android/fenix/app/src/main/res/values-en-rGB/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rAR/strings.xml
  mobile/android/fenix/app/src/main/res/values-es-rCL/strings.xml
  mobile/android/fenix/app/src/main/res/values-fr/strings.xml
  mobile/android/fenix/app/src/main/res/values-fur/strings.xml
  mobile/android/fenix/app/src/main/res/values-fy-rNL/strings.xml
  mobile/android/fenix/app/src/main/res/values-gl/strings.xml
  mobile/android/fenix/app/src/main/res/values-gn/strings.xml
  mobile/android/fenix/app/src/main/res/values-hsb/strings.xml
  mobile/android/fenix/app/src/main/res/values-hy-rAM/strings.xml
  mobile/android/fenix/app/src/main/res/values-ia/strings.xml
  mobile/android/fenix/app/src/main/res/values-it/strings.xml
  mobile/android/fenix/app/src/main/res/values-iw/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-ko/strings.xml
  mobile/android/fenix/app/src/main/res/values-nb-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-nl/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-pa-rIN/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rPT/strings.xml
  mobile/android/fenix/app/src/main/res/values-ro/strings.xml
  mobile/android/fenix/app/src/main/res/values-ru/strings.xml
  mobile/android/fenix/app/src/main/res/values-sk/strings.xml
  mobile/android/fenix/app/src/main/res/values-sv-rSE/strings.xml
  mobile/android/fenix/app/src/main/res/values-tr/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rCN/strings.xml
  mobile/android/fenix/app/src/main/res/values-zh-rTW/strings.xml
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix
