Repository SAP/project-foxhound: changes, and which Taskcluster tasks are due for each by the changed paths.
All: newtab-unit-tests, devtools-tests, devtools-verify-bundle, eslint-plugin-mozilla, rust, tb-rust, compare-locales-android-components, compare-locales-focus, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix, buildconfig-android-components, buildconfig-focus, buildconfig-fenix, messagingsystem-unit-tests, design-tokens-tests, default

Path conditions:
  newtab-unit-tests: (any of: browser/components/newtab/**, browser/components/aboutwelcome/**, browser/components/asrouter/**) or (any of: browser/extensions/newtab/**)
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  devtools-verify-bundle: any of: devtools/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  rust: any of: Cargo.lock, **/Cargo.toml, python/mozbuild/mozbuild/vendor/vendor_rust.py, supply-chain/**, third_party/rust/**
  tb-rust: any of: Cargo.lock, Cargo.toml, toolkit/library/rust/shared/Cargo.toml
  compare-locales-android-components: any of: mobile/android/android-components/**
  compare-locales-focus: any of: mobile/android/focus-android/**
  compare-locales-fenix: any of: mobile/android/fenix/**
  detekt-android-components: any of: mobile/android/android-components/**
  detekt-focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  detekt-fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  android-components: any of: mobile/android/android-components/**
  focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  buildconfig-android-components: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml
  buildconfig-focus: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/focus-android/**/build.gradle, mobile/android/focus-android/.buildconfig.yml
  buildconfig-fenix: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/fenix/**/build.gradle, mobile/android/fenix/.buildconfig.yml
  messagingsystem-unit-tests: any of: browser/components/aboutwelcome/**, browser/components/asrouter/**
  design-tokens-tests: any of: toolkit/themes/shared/design-system/**
  default: any of: testing/web-platform/tests/tools/**

Bug 2049409. a=RyanVM
  dom/security/sanitizer/Sanitizer.cpp
Due: none

No Bug, mozilla-beta repo-update remote-settings tld-suffixes ct-logs - a=RyanVM
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/ai-window-prompts.json
  services/settings/dumps/security-state/intermediates.json
  toolkit/components/certviewer/content/components/logNameTable.mjs
Due: none

Bug 2036411 - Serialize the Searchfox Android indexing build to dodge semanticdb-javac races a=diannaS
  mobile/android/mach_commands.py
Due: none

Bug 2036411 - Run the SafeArgs USELESS_CAST suppression before Kotlin compilation a=diannaS
  build/test/python/test_android_gradle_build.py
  mobile/android/fenix/app/build.gradle
Due: compare-locales-fenix, detekt-fenix, fenix, buildconfig-fenix

Bug 2048008 - Remove clang-20 toolchain tasks. a=diannaS
  build/build-clang/llvmorg-10-init-136-gb288d90b39f4.patch
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/clang.yml
  taskcluster/kinds/toolchain/compiler-rt.yml
  taskcluster/kinds/toolchain/libunwind.yml
  taskcluster/kinds/toolchain/llvm-symbolizer.yml
  taskcluster/kinds/toolchain/sysroot.yml
Due: none

Bug 2048062 - Run apt-get update before installing build deps in the debian-packages image. a=diannaS
  taskcluster/docker/debian-packages/Dockerfile
Due: none

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: none

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: none

Automatic version bump NO BUG a=release CLOSED TREE DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

No Bug - Update configs after merge day operations a=release
  CLOBBER
  build/defines.sh
Due: none

Bug 2038071 - history thumbnail card: ai-chat-card component a=RyanVM
  browser/components/aiwindow/ui/components/ai-chat-card/ai-chat-card.css
  browser/components/aiwindow/ui/components/ai-chat-card/ai-chat-card.mjs
  browser/components/aiwindow/ui/components/ai-chat-card/ai-chat-card.stories.mjs
  browser/components/aiwindow/ui/jar.mn
Due: none

Bug 2038069 - history thumbnail grid: ai-chat-grid component a=RyanVM
  browser/components/aiwindow/ui/assets/ai-chat-grid-loading.svg
  browser/components/aiwindow/ui/assets/icon-grid-view.svg
  browser/components/aiwindow/ui/assets/icon-list-view.svg
  browser/components/aiwindow/ui/components/ai-chat-grid/ai-chat-grid.css
  browser/components/aiwindow/ui/components/ai-chat-grid/ai-chat-grid.mjs
  browser/components/aiwindow/ui/components/ai-chat-grid/ai-chat-grid.stories.mjs
  browser/components/aiwindow/ui/content/ai-window-shared.css
  browser/components/aiwindow/ui/jar.mn
  browser/locales-preview/aiWindow.ftl
Due: none

Bug 2038069 - integrate ai-chat-grid and ai-chat-card to browser history search tool call a=RyanVM
  browser/components/DesktopActorRegistry.sys.mjs
  browser/components/aiwindow/models/HistoryThumbnails.sys.mjs
  browser/components/aiwindow/models/SearchBrowsingHistory.sys.mjs
  browser/components/aiwindow/models/SearchBrowsingHistoryDomainBoost.sys.mjs
  browser/components/aiwindow/models/Tools.sys.mjs
  browser/components/aiwindow/models/moz.build
  browser/components/aiwindow/ui/actors/AIChatContentChild.sys.mjs
  browser/components/aiwindow/ui/actors/AIChatContentParent.sys.mjs
  browser/components/aiwindow/ui/components/ai-chat-content/ai-chat-content.css
  browser/components/aiwindow/ui/components/ai-chat-content/ai-chat-content.mjs
  browser/components/aiwindow/ui/components/ai-chat-content/chat-assistant-footer/applied-memories-button.css
  browser/components/aiwindow/ui/components/ai-chat-message/ai-chat-message.css
  browser/components/aiwindow/ui/components/ai-chat-message/ai-chat-message.mjs
  browser/components/aiwindow/ui/components/ai-window/ai-window.mjs
  browser/components/aiwindow/ui/modules/ChatConversation.sys.mjs
  browser/components/aiwindow/ui/test/browser/head.js
  toolkit/components/thumbnails/BackgroundPageThumbs.sys.mjs
Due: none

Bug 2042865 - add test coverage for history thumbnail grid a=RyanVM
  browser/components/aiwindow/models/tests/xpcshell/head.js
  browser/components/aiwindow/ui/components/ai-chat-card/ai-chat-card.css
  browser/components/aiwindow/ui/components/ai-chat-message/ai-chat-message.mjs
  browser/components/aiwindow/ui/jar.mn
  browser/components/aiwindow/ui/test/AIWindowTestUtils.sys.mjs
  browser/components/aiwindow/ui/test/browser/browser.toml
  browser/components/aiwindow/ui/test/browser/browser_aichat_message.js
  browser/components/aiwindow/ui/test/browser/browser_aichat_message_table.js
  browser/components/aiwindow/ui/test/browser/browser_aichat_open_link.js
  browser/components/aiwindow/ui/test/browser/browser_aiwindow_url_security.js
  browser/components/aiwindow/ui/test/browser/browser_smartwindow_history_thumbnails.js
  browser/components/aiwindow/ui/test/browser/browser_smartwindow_history_thumbnails_telemetry.js
  browser/components/aiwindow/ui/test/browser/browser_smartwindow_sanitize.js
  browser/components/aiwindow/ui/test/browser/head.js
  browser/components/aiwindow/ui/test/browser/head_history_thumbnails.js
  testing/mochitest/BrowserTestUtils/BrowserTestUtils.sys.mjs
  testing/specialpowers/content/ContentTaskUtils.sys.mjs
  toolkit/components/ml/ml.d.ts
  toolkit/components/ml/tests/MLTestUtils.sys.mjs
Due: none

Bug 2038073 - History Thumbnail Grid telemetry a=RyanVM
  browser/components/DesktopActorRegistry.sys.mjs
  browser/components/aiwindow/ui/actors/AIChatContentChild.sys.mjs
  browser/components/aiwindow/ui/actors/AIChatContentParent.sys.mjs
  browser/components/aiwindow/ui/components/ai-chat-message/ai-chat-message.mjs
  browser/components/aiwindow/ui/modules/AIWindowTelemetry.sys.mjs
  browser/components/aiwindow/ui/moz.build
Due: none

Bug 2047620 - Update handling of sorting of Semantic Search results in URLBar a=RyanVM DONTBUILD
  browser/components/urlbar/UrlbarMuxerStandard.sys.mjs
  browser/components/urlbar/UrlbarPrefs.sys.mjs
  browser/components/urlbar/UrlbarUtils.sys.mjs
  browser/components/urlbar/tests/unit/test_muxer.js
  toolkit/components/nimbus/FeatureManifest.yaml
Due: none

Bug 2049564 - Show the tracker blocked pill in 152 only if trackers have been blocked a=RyanVM DONTBUILD
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/store/HomepageState.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Fixed regex exec missing flags
  js/src/builtin/RegExp.cpp
  taint/test/mochitest/mochitest.ini
  taint/test/mochitest/test_regexp_exec.html
Due: none

Bug 2037701 - Consider the bottom insets when handling swipe up on the toolbar a=RyanVM
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/gestures/ToolbarVerticalGesturesHandler.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/gestures/ToolbarVerticalGesturesHandlerTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2046696 - Avoid a vertical toolbar swipe opening tabs tray if currently searching a=RyanVM
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/gestures/ToolbarVerticalGesturesHandler.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/gestures/ToolbarVerticalGesturesHandlerTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2049515 - Add UTM source detection for Reddit attribution. a=RyanVM
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/InstallReferrerHandlingService.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/metrics/InstallReferrerHandlingServiceTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2038130 - The Keep Closed? callout is displayed when closing a Sidebar with a started conversation a=RyanVM DONTBUILD
  browser/components/aiwindow/ui/modules/AIWindowTabStatesManager.sys.mjs
  browser/components/aiwindow/ui/test/browser/browser_smartwindow_sidebar_auto_open_pref_prompt.js
Due: none

Bug 2046553 - Set the 'install_timeout' telemetry field if the stub installer exit code is ERR_INSTALL_TIMEOUT. a=RyanVM DONTBUILD
  browser/installer/windows/nsis/telemetry.nsh
Due: none

Bug 2040844: Override undo:/redo: on ChildView to restore Edit menu icons and Gecko menu-click dispatch on macOS. a=RyanVM
  widget/cocoa/nsCocoaWindow.mm
  widget/cocoa/nsMenuItemX.mm
Due: none

Bug 2040851: Don't mirror XUL command disabled state to NSMenuItem for standard Edit menu items on macOS. a=RyanVM
  widget/cocoa/nsMenuItemX.mm
Due: none

Bug 2033002 - Add Preview Report support to Smart Window feedback modal a=RyanVM
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/content/aboutwelcome.css
  browser/components/aiwindow/ui/components/ai-window/ai-window.mjs
  browser/components/aiwindow/ui/modules/FeedbackModal.sys.mjs
  browser/components/aiwindow/ui/test/xpcshell/test_FeedbackModal.js
  browser/components/asrouter/content-src/components/ContentTiles.jsx
  browser/components/asrouter/content-src/components/ContentToggle.jsx
  browser/components/asrouter/content-src/components/MultiStageAboutWelcome.jsx
  browser/components/asrouter/content-src/components/MultiStageProtonScreen.jsx
  browser/components/asrouter/content-src/components/TextBoxTile.jsx
  browser/components/asrouter/content-src/styles/_multistage.scss
  browser/components/asrouter/content/components/asrouter-newtab-multistage/asrouter-newtab-multistage.bundle.js
  browser/components/asrouter/content/components/asrouter-newtab-multistage/asrouter-newtab-multistage.css
  browser/components/asrouter/modules/OnboardingMessageProvider.sys.mjs
  browser/components/asrouter/tests/unit/content-src/components/ContentTiles.test.jsx
  browser/components/asrouter/tests/unit/content-src/components/ContentToggle.test.jsx
  browser/components/asrouter/tests/unit/content-src/components/TextBoxTile.test.jsx
  browser/locales-preview/aiWindow.ftl
Due: newtab-unit-tests, messagingsystem-unit-tests

Bug 2034541 - Add dedicated highly_sensitive metric for Smart Window feedback chat history a=RyanVM
  browser/base/content/spotlight.js
  browser/components/aboutwelcome/modules/AboutWelcomeTelemetry.sys.mjs
  browser/components/aboutwelcome/tests/xpcshell/test_AboutWelcomeTelemetry.js
  browser/components/asrouter/metrics.yaml
  browser/components/asrouter/tests/browser/browser_multistage_spotlight_telemetry.js
Due: newtab-unit-tests, messagingsystem-unit-tests

Bug 2050195 - Fix glean.error.invalid_value for microsurvey.smart_window.chat metric a=RyanVM
  browser/components/aboutwelcome/modules/AboutWelcomeTelemetry.sys.mjs
  browser/components/asrouter/metrics.yaml
Due: newtab-unit-tests, messagingsystem-unit-tests

Bug 2038069 - Restore History Thumbnails wiring in ai-window.mjs dropped by the Bug 2033002 release uplift a=RyanVM
  browser/components/aiwindow/ui/components/ai-window/ai-window.mjs
Due: none

No Bug - Import translations from main
  mobile/android/android-components/components/feature/addons/src/main/res/values-fi/strings.xml
  mobile/android/android-components/components/feature/ipprotection/src/main/res/values-ug/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-is/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-ug/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-fur/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-fy-rNL/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-hu/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-hy-rAM/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-is/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-ru/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-ug/strings.xml
  mobile/android/android-components/components/feature/protection-dashboard/src/main/res/values-ug/strings.xml
  mobile/android/android-components/components/feature/summarize/src/main/res/values-is/strings.xml
  mobile/android/android-components/components/feature/summarize/src/main/res/values-ug/strings.xml
  mobile/android/fenix/app/src/main/res/values-bqi/strings.xml
  mobile/android/fenix/app/src/main/res/values-is/strings.xml
  mobile/android/fenix/app/src/main/res/values-ru/strings.xml
  mobile/android/fenix/app/src/main/res/values-ug/strings.xml
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

No Bug, mozilla-beta repo-update HSTS HPKP - a=pascalc
  security/manager/ssl/StaticHPKPins.h
  security/manager/ssl/nsSTSPreloadList.inc
Due: none

No Bug - Import translations from main
  mobile/android/android-components/components/feature/app-links/src/main/res/values-sl/strings.xml
  mobile/android/android-components/components/feature/customtabs/src/main/res/values-bqi/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-kk/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-bqi/strings.xml
  mobile/android/fenix/app/src/main/res/values-it/strings.xml
  mobile/android/fenix/app/src/main/res/values-pt-rBR/strings.xml
  mobile/android/focus-android/app/src/main/res/values-it/strings.xml
Due: compare-locales-android-components, compare-locales-focus, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2050463 - Correctly dispatch onboarding_not_now_tapped when user taps on Not now in onboarding sheet a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ipprotection/ui/IPProtectionBottomSheet.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ipprotection/ui/IPProtectionBottomSheetFragment.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2050458 - Restrict alignment-baseline synthesis to atomic inlines. a=pascalc
  layout/base/Baseline.cpp
  layout/generic/nsIFrame.cpp
  layout/generic/nsIFrame.h
  testing/web-platform/tests/css/css-inline/alignment-baseline/alignment-baseline-flex-item-export-001-ref.html
  testing/web-platform/tests/css/css-inline/alignment-baseline/alignment-baseline-flex-item-export-001.html
Due: none

Bug 2050146 - Expose Search Optimization Feature secret settings on Beta a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2050103 - Show flight suggestion times in the airport's local timezone a=pascalc
  mobile/android/android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/FlightsOnlineSuggestionProvider.kt
  mobile/android/android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/ProviderUtils.kt
  mobile/android/android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/FlightsOnlineSuggestionProviderTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2050095 - Query stock suggestions for any non-blank search a=pascalc
  mobile/android/android-components/components/feature/awesomebar/src/main/java/mozilla/components/feature/awesomebar/provider/StocksOnlineSuggestionProvider.kt
  mobile/android/android-components/components/feature/awesomebar/src/test/java/mozilla/components/feature/awesomebar/provider/StocksOnlineSuggestionProviderTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix
