Repository SAP/project-foxhound: changes, and which Taskcluster tasks are due for each by the changed paths.
All: newtab-unit-tests, devtools-tests, devtools-verify-bundle, eslint-plugin-mozilla, rust, tb-rust, compare-locales-android-components, compare-locales-focus, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix, buildconfig-android-components, buildconfig-focus, buildconfig-fenix, messagingsystem-unit-tests, design-tokens-tests, default

newtab-unit-tests:
  description: newtab unit tests
  platform: linux1804-64/opt
  treeherder:
    symbol: node(newtab)
    kind: test
    tier: 1
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: ubuntu1804-test
    max-run-time: 1800
  require-build:
    by-project:
      autoland:
  ...

devtools-tests:
  description: devtools node-based tests (for instance jest)
  platform: linux1804-64/opt
  attributes:
    code-review: true
  treeherder:
    symbol: node(devtools)
    kind: test
    tier: 1
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
    artifacts:
  ...

devtools-verify-bundle:
  description: devtools bundle checker
  platform: linux1804-64/opt
  attributes:
    code-review: true
  treeherder:
    symbol: node(devtools-bundle)
    kind: test
    tier: 2
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1200
    artifacts:
    - type: file
  ...

eslint-plugin-mozilla:
  description: eslint-plugin-mozilla integration tests
  platform: linux1804-64/opt
  treeherder:
    symbol: node(epm)
    kind: test
    tier: 1
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

rust:
  description: Rust vendoring validation
  treeherder:
    symbol: rust(vendor)
  worker:
    env:
      MACH_BUILD_PYTHON_NATIVE_PACKAGE_SOURCE: system
  run:
    cwd: '{checkout}'
    command: ./mach vendor rust --issues-json /builds/worker/issues.json
  fetches:
    toolchain:
    - linux64-cargo-vet
    - linux64-rust

tb-rust:
  description: Schedule job to verify the comm-central copy of third_party/rust
  treeherder:
    symbol: tb-rust
  run:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/mobile/android/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/mobile/android/focus-android'
  treeherder:
    symbol: compare-locales(focus)

compare-locales-fenix:
  run:
    cwd: '{checkout}/mobile/android/fenix'
  treeherder:
    symbol: compare-locales(fenix)

detekt-android-components:
  run:
    pre-gradlew:
    - - cd
      - mobile/android/android-components
  treeherder:
    symbol: detekt(AC)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/gecko/mobile/android/android-components/build/reports
      type: directory

detekt-focus:
  run:
    pre-gradlew:
    - - cd
      - mobile/android/focus-android
  treeherder:
    symbol: detekt(focus)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/gecko/mobile/android/focus-android/build/reports
      type: directory

android-components:
  run:
    pre-gradlew:
    - - cd
      - mobile/android/android-components
    gradlew:
    - --no-parallel
  treeherder:
    symbol: lint(AC)

Bug 2049405. a=pascalc
  gfx/thebes/gfxFcPlatformFontList.cpp
  gfx/thebes/gfxFcPlatformFontList.h
Due: none

Bug 2050627: Ensure the correct acc type for a RemoteAccessible. a=pascalc
  accessible/ipc/DocAccessibleParent.cpp
  accessible/windows/uia/uiaRawElmProvider.cpp
  accessible/windows/uia/uiaRawElmProvider.h
Due: none

Bug 2047723 - Cherry-pick commit f738b1132ec1fd56efc90367898244cf52d9e6a5 for libsoundtouch a=pascalc
  media/libsoundtouch/moz.yaml
  media/libsoundtouch/ratetransposer-clamp-dest-size.patch
  media/libsoundtouch/src/RateTransposer.cpp
Due: none

Bug 2050775 - Defer Windows launch-on-login first-run enablement to browser-idle-startup. a=pascalc
  browser/components/BrowserComponents.manifest
  browser/components/defaultwindowslaunchonlogin/tests/test_DefaultWindowsLaunchOnLogin.js
Due: none

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: none

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: none

Bug 2044527 - Normalize the host when matching WebsiteFilter patterns. a=pascalc
  browser/components/enterprisepolicies/helpers/WebsiteFilter.sys.mjs
  browser/components/enterprisepolicies/tests/xpcshell/test_websitefilter.js
  browser/components/enterprisepolicies/tests/xpcshell/xpcshell.toml
Due: none

Bug 2033102 - Add support for allowed_permissions ExtensionSettings policy. a=pascalc
  browser/components/enterprisepolicies/schemas/policies-schema.json
  browser/components/enterprisepolicies/tests/xpcshell/test_extensionsettings_blocked_permissions.js
  toolkit/components/enterprisepolicies/EnterprisePoliciesParent.sys.mjs
  toolkit/components/extensions/parent/ext-permissions.js
  toolkit/mozapps/extensions/content/components/addon-permissions-list.mjs
  toolkit/mozapps/extensions/test/browser/browser_html_detail_permissions_policy_blocked.js
Due: none

Bug 2048048 - Fix policy issues with new tab preferences. a=pascalc
  browser/components/enterprisepolicies/Policies.sys.mjs
  browser/components/enterprisepolicies/tests/browser/browser_policy_firefoxhome.js
  browser/components/enterprisepolicies/tests/xpcshell/test_simple_pref_policies.js
Due: none

Bug 2048696 - Merge a Windows GPO registry value with a same-named subkey instead of dropping it. a=pascalc
  toolkit/components/enterprisepolicies/WindowsGPOParser.sys.mjs
  toolkit/components/enterprisepolicies/tests/browser/browser_policies_gpo.js
Due: none

Bug 2033463 - Use AddonRepository to install AMO extensions when install_url is absent a=pascalc
  browser/components/enterprisepolicies/Policies.sys.mjs
  browser/components/enterprisepolicies/tests/xpcshell/test_extensionsettings_install_without_url.js
  browser/components/enterprisepolicies/tests/xpcshell/xpcshell.toml
Due: none

Bug 2047112 - Close all matching tabs including unloaded tab on NL a=pascalc
  browser/components/aiwindow/models/Chat.sys.mjs
  browser/components/aiwindow/models/ManageTabs.sys.mjs
  browser/components/aiwindow/models/Tools.sys.mjs
  browser/components/aiwindow/models/tests/xpcshell/test_ManageTabs.js
  browser/components/aiwindow/ui/components/ai-website-confirmation/ai-website-confirmation.mjs
  browser/components/aiwindow/ui/components/ai-website-select/ai-website-select.mjs
  browser/components/aiwindow/ui/modules/ToolUI.sys.mjs
  browser/components/aiwindow/ui/test/browser/test_website_confirmation_page.html
  browser/components/aiwindow/ui/test/xpcshell/test_ToolUI.js
Due: none

Bug 2049750 - Avoid consuming horizontal swipes in toolbar's vertical gestures handler a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/toolbar/gestures/ToolbarVerticalGesturesHandler.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/toolbar/gestures/ToolbarVerticalGesturesHandlerTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2050990 - Call JS_NumberValue in ClientWebGLContext.cpp. a=pascalc
  dom/canvas/ClientWebGLContext.cpp
Due: none

Bug 2048795 - Guard access to the GamepadPlatformService singleton by a StaticMutex. a=pascalc
  dom/gamepad/GamepadPlatformService.cpp
Due: none

Bug 2045510 - Reject snappy CompressedData chunks shorter than the CRC field. a=pascalc
  xpcom/io/SnappyFrameUtils.cpp
Due: none

Bug 2050882 - Avoid crypto.getRandomValues() call at early startup a=pascalc
  toolkit/components/extensions/Extension.sys.mjs
  toolkit/components/extensions/ExtensionDocumentId.sys.mjs
  xpcom/base/KeyedUUIDMapper.cpp
  xpcom/base/nsIKeyedUUIDMapper.idl
  xpcom/tests/unit/test_KeyedUUIDMapper.js
Due: none

Bug 2051090 - Fix crashed-tab UI "submit crash report to Mozilla" checkbox. a=pascalc
  mobile/android/fenix/app/src/main/res/layout/view_crash_reporter.xml
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2050668 - WS: set mDataStarted before dispatching runnable a=pascalc
  netwerk/protocol/websocket/WebSocketChannel.cpp
Due: none

Bug 2050657 - Fix more floating point setNumber calls. a=pascalc
  js/xpconnect/src/XPCConvert.cpp
  toolkit/components/telemetry/other/TelemetryIOInterposeObserver.cpp
  toolkit/components/telemetry/other/UntrustedModulesDataSerializer.cpp
  widget/android/EventDispatcher.cpp
Due: none

Bug 2050657 - Fixes for setDouble, Float32Value and JS::NumberValue. a=pascalc
  dom/indexedDB/Key.cpp
  gfx/layers/apz/util/APZCCallbackHelper.cpp
  js/src/ctypes/CTypes.cpp
  toolkit/components/telemetry/core/TelemetryEvent.cpp
  toolkit/mozapps/extensions/AddonManagerStartup.cpp
  widget/GfxInfoBase.cpp
  widget/uikit/EventDispatcher.mm
Due: none

Bug 2050657 - Ensure UbiNode Node::identifier() is representable. a=pascalc
  js/public/UbiNode.h
Due: none

Bug 2044499 - Add plumbing for HW support to RemoteDecoderModule. a=pascalc
  dom/media/ipc/RemoteDecoderModule.cpp
  dom/media/ipc/RemoteMediaManagerChild.cpp
  dom/media/ipc/RemoteMediaManagerChild.h
  testing/web-platform/mozilla/meta/media-capabilities/decodingInfo-webrtc-power-efficient.any.js.ini
Due: none

Bug 2049034 - Add an initial delay to download button in Fenix download dialog a=pascalc
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/DownloadRobot.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/RenameAndChangeLocationDialogFragment.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2047608 - Ensure dialogs are visible a=pascalc
  mobile/android/android-components/components/feature/addons/src/main/java/mozilla/components/feature/addons/ui/AddonDialogFragment.kt
  mobile/android/android-components/components/feature/prompts/src/main/java/mozilla/components/feature/prompts/dialog/PromptDialogFragment.kt
  mobile/android/android-components/components/feature/sitepermissions/src/main/java/mozilla/components/feature/sitepermissions/SitePermissionsDialogFragment.kt
  mobile/android/android-components/components/support/base/src/main/java/mozilla/components/support/base/android/NoObscuredTouchesDialogFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/addons/DownloadAddonDialogFragment.kt
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2051543 - increase up button touch target size. a=pascalc
  mobile/android/fenix/app/longfox/src/main/kotlin/org/mozilla/fenix/longfox/LongFoxGameScreen.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2050032 - reset peeking fox animation when restoring from background a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/trackingprotection/TrackersBlockedCard.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/trackingprotection/TrackersBlockedCardTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2024035 - Handle elements in reorderable moz-box-groups are missing HCM styles a=pascalc
  toolkit/content/widgets/moz-box-item/moz-box-item.css
Due: none

Bug 2045833 - Clean up nsUnknownDecoder::OnDataAvailable check a=pascalc
  netwerk/streamconv/converters/nsUnknownDecoder.cpp
Due: none

Revert "Bug 2049034 - Add an initial delay to download button in Fenix download dialog a=pascalc" for causing failures a=backout
  mobile/android/fenix/app/src/androidTest/java/org/mozilla/fenix/ui/robots/DownloadRobot.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/downloads/RenameAndChangeLocationDialogFragment.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Revert "Bug 2044499 - Add plumbing for HW support to RemoteDecoderModule. a=pascalc" for causing Bug 2044499 a=backout
  dom/media/ipc/RemoteDecoderModule.cpp
  dom/media/ipc/RemoteMediaManagerChild.cpp
  dom/media/ipc/RemoteMediaManagerChild.h
  testing/web-platform/mozilla/meta/media-capabilities/decodingInfo-webrtc-power-efficient.any.js.ini
Due: none

Bug 2032140 - Verify content process identity when linking background channels a=pascalc
  ipc/glue/BackgroundParentImpl.cpp
  netwerk/protocol/http/BackgroundChannelRegistrar.cpp
  netwerk/protocol/http/HttpBackgroundChannelParent.cpp
  netwerk/protocol/http/HttpBackgroundChannelParent.h
  netwerk/protocol/http/HttpChannelParent.cpp
  netwerk/protocol/http/HttpChannelParent.h
Due: none

Bug 2043200 - Bind RedirectChannelRegistrar ids to their destination content process a=pascalc
  docshell/base/nsDocShell.cpp
  dom/ipc/ContentParent.cpp
  mobile/android/components/geckoview/GeckoViewContentChannelParent.cpp
  netwerk/base/RedirectChannelRegistrar.cpp
  netwerk/base/RedirectChannelRegistrar.h
  netwerk/base/nsIRedirectChannelRegistrar.idl
  netwerk/base/nsNetUtil.cpp
  netwerk/base/nsNetUtil.h
  netwerk/ipc/DocumentLoadListener.cpp
  netwerk/ipc/NeckoParent.cpp
  netwerk/ipc/ParentChannelWrapper.cpp
  netwerk/ipc/ParentChannelWrapper.h
  netwerk/ipc/ParentProcessDocumentChannel.cpp
  netwerk/protocol/http/HttpChannelParent.cpp
Due: none

Bug 2048858 - Assert ProxyManager Errors adhere to the IPC contract a=pascalc
  toolkit/components/ipprotection/IPPProxyManager.sys.mjs
  toolkit/components/ipprotection/tests/xpcshell/test_IPProxyManager.js
Due: none

No Bug, mozilla-beta repo-update remote-settings tld-suffixes mobile-experiments ct-logs - a=RyanVM
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  netwerk/dns/effective_tld_names.dat
  security/ct/CTKnownLogs.h
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/ai-window-prompts.json
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2045770 - Cap constant-fold allocations. a=pascalc
  gfx/angle/checkout/src/compiler/translator/IntermNode.cpp
  gfx/angle/checkout/src/compiler/translator/OutputHLSL.cpp
Due: none

Bug 2045763. a=pascalc
  media/libcubeb/delay-line-bounds.patch
  media/libcubeb/moz.yaml
  media/libcubeb/src/cubeb_resampler_internal.h
Due: none

Bug 2051658 a=pascalc
  gfx/webrender_bindings/RenderD3D11TextureHost.cpp
Due: none

Bug 2048027 - Add no_connectivity, captive_portal_state, and trr_only to load_aboutneterror - a=pascalc
  browser/base/content/test/about/browser_aboutNetError_telemetry.js
  docshell/base/nsDocShell.cpp
  toolkit/content/aboutNetErrorHelpers.mjs
  toolkit/content/metrics.yaml
Due: none

Path conditions:
  newtab-unit-tests: (any of: browser/components/newtab/**, browser/components/aboutwelcome/**, browser/components/asrouter/**) or (any of: browser/extensions/newtab/**)
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  devtools-verify-bundle: any of: devtools/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  rust: any of: Cargo.lock, **/Cargo.toml, python/mozbuild/mozbuild/vendor/vendor_rust.py, supply-chain/**, third_party/rust/**
  tb-rust: any of: Cargo.lock, Cargo.toml, toolkit/library/rust/shared/Cargo.toml
  compare-locales-android-components: any of: mobile/android/android-components/**
  compare-locales-focus: any of: mobile/android/focus-android/**
  compare-locales-fenix: any of: mobile/android/fenix/**
  detekt-android-components: any of: mobile/android/android-components/**
  detekt-focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  detekt-fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  android-components: any of: mobile/android/android-components/**
  focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  buildconfig-android-components: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml
  buildconfig-focus: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/focus-android/**/build.gradle, mobile/android/focus-android/.buildconfig.yml
  buildconfig-fenix: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/fenix/**/build.gradle, mobile/android/fenix/.buildconfig.yml
  messagingsystem-unit-tests: any of: browser/components/aboutwelcome/**, browser/components/asrouter/**
  design-tokens-tests: any of: toolkit/themes/shared/design-system/**
  default: any of: testing/web-platform/tests/tools/**
