Repository SAP/project-foxhound: changes, and which Taskcluster tasks are due for each by the changed paths.
All: newtab-unit-tests, devtools-tests, devtools-verify-bundle, eslint-plugin-mozilla, rust, tb-rust, compare-locales-android-components, compare-locales-focus, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix, buildconfig-android-components, buildconfig-focus, buildconfig-fenix, messagingsystem-unit-tests, design-tokens-tests, default

Path conditions:
  newtab-unit-tests: (any of: browser/components/newtab/**, browser/components/aboutwelcome/**, browser/components/asrouter/**) or (any of: browser/extensions/newtab/**)
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  devtools-verify-bundle: any of: devtools/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  rust: any of: Cargo.lock, **/Cargo.toml, python/mozbuild/mozbuild/vendor/vendor_rust.py, supply-chain/**, third_party/rust/**
  tb-rust: any of: Cargo.lock, Cargo.toml, toolkit/library/rust/shared/Cargo.toml
  compare-locales-android-components: any of: mobile/android/android-components/**
  compare-locales-focus: any of: mobile/android/focus-android/**
  compare-locales-fenix: any of: mobile/android/fenix/**
  detekt-android-components: any of: mobile/android/android-components/**
  detekt-focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  detekt-fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  android-components: any of: mobile/android/android-components/**
  focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  buildconfig-android-components: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml
  buildconfig-focus: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/focus-android/**/build.gradle, mobile/android/focus-android/.buildconfig.yml
  buildconfig-fenix: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/fenix/**/build.gradle, mobile/android/fenix/.buildconfig.yml
  messagingsystem-unit-tests: any of: browser/components/aboutwelcome/**, browser/components/asrouter/**
  design-tokens-tests: any of: toolkit/themes/shared/design-system/**
  default: any of: testing/web-platform/tests/tools/**

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump DONTBUILD CLOSED TREE
  mobile/locales/l10n-changesets.json
Due: none

No Bug, mozilla-beta repo-update remote-settings mobile-experiments ct-logs - a=RyanVM
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  security/ct/CTKnownLogs.h
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/security-state/intermediates.json
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2041077 - Trigger SiteDataManager.updateSites on paneSearchResults too. a=RyanVM DONTBUILD
  browser/components/preferences/config/privacy.mjs
  browser/components/preferences/tests/siteData/browser-srd.toml
  browser/components/preferences/tests/siteData/browser.toml
  browser/components/preferences/tests/siteData/browser_siteData_search.js
Due: none

Bug 2046026 - Only use manifest icons with purpose 'any' within Taskbar Tabs. a=RyanVM
  browser/components/taskbartabs/TaskbarTabs.sys.mjs
  browser/components/taskbartabs/test/browser/browser_taskbarTabs_icons.js
  dom/ipc/ManifestMessagesChild.sys.mjs
  dom/manifest/ManifestIcons.sys.mjs
  dom/manifest/test/browser_ManifestIcons_browserFetchIcon.js
Due: none

Bug 2030299 - Order token alias engine results by duplicate-alias precedence. a=RyanVM
  browser/components/urlbar/UrlbarSearchUtils.sys.mjs
  browser/components/urlbar/tests/browser/browser_tokenAlias.js
Due: none

Bug 2047491 - Ensure CTRL+SHIFT+up/down reorders items correctly in moz-reorderable-lists. a=RyanVM
  browser/components/preferences/tests/search/browser_search_engine_reorder.js
  toolkit/content/tests/widgets/test_moz_reorderable_list.html
  toolkit/content/widgets/moz-box-group/moz-box-group.mjs
  toolkit/content/widgets/moz-reorderable-list/moz-reorderable-list.mjs
Due: none

Bug 2044325: Don't panic on wgpu device loss or internal error. a=RyanVM
  gfx/wgpu_bindings/Cargo.toml
Due: rust

No Bug - Import translations from main
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
Due: compare-locales-fenix, detekt-fenix, fenix

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: none

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: none

Automatic version bump NO BUG a=release CLOSED TREE DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

No Bug, mozilla-release repo-update remote-settings mobile-experiments - a=RyanVM
  mobile/android/fenix/app/src/main/res/raw/initial_experiments.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/security-state/intermediates.json
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2049307 - Reset focus navigation starting point after running focusing steps for fragment navigation. a=RyanVM
  layout/base/PresShell.cpp
  testing/web-platform/tests/html/interaction/focus/sequential-focus-navigation-starting-point.html
Due: none

Bug 2043379 - Make the crash helper process always fail gracefully on Android a=RyanVM
  toolkit/crashreporter/crash_helper_common/src/lib.rs
  toolkit/crashreporter/crash_helper_server/src/ipc_server.rs
  toolkit/crashreporter/crash_helper_server/src/lib.rs
Due: none

Revert "Bug 2043379 - Make the crash helper process always fail gracefully on Android a=RyanVM" for causing build bustages
  toolkit/crashreporter/crash_helper_common/src/lib.rs
  toolkit/crashreporter/crash_helper_server/src/ipc_server.rs
  toolkit/crashreporter/crash_helper_server/src/lib.rs
Due: none

Bug 2046623 - Add on-message-impression special message action trigger a=pascalc
  browser/components/aboutwelcome/actors/AboutWelcomeChild.sys.mjs
  browser/components/aboutwelcome/actors/AboutWelcomeParent.sys.mjs
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/tests/browser/browser.toml
  browser/components/aboutwelcome/tests/browser/browser_aboutwelcome_impression_action.js
  browser/components/asrouter/content-src/components/MultiStageAboutWelcome.jsx
  browser/components/asrouter/content-src/lib/multistage-utils.mjs
  browser/components/asrouter/content/components/asrouter-newtab-multistage/asrouter-newtab-multistage.bundle.js
  browser/components/asrouter/docs/about-welcome.md
  browser/components/asrouter/modules/ASRouterScreenUtils.sys.mjs
  browser/components/asrouter/tests/unit/content-src/components/MultiStageAboutWelcome.test.jsx
  browser/components/asrouter/tests/unit/modules/ASRouterScreenUtils.test.jsx
Due: newtab-unit-tests, messagingsystem-unit-tests

Bug 2041097 - Don't display the Taskbar Tabs page action on file URIs. a=pascalc
  browser/components/taskbartabs/TaskbarTabsPageAction.sys.mjs
  browser/components/taskbartabs/test/browser/browser_taskbarTabs_pageAction.js
Due: none

Bug 2048587 - Use preferences to track whether Nimbus wants the Set As Default Browser menu added. a=pascalc
  browser/app/profile/firefox.js
  toolkit/components/nimbus/FeatureManifest.yaml
  widget/cocoa/nsMenuBarX.mm
Due: none

Bug 2048642 - Part 1: Introduce a new metric specifically for catastrophic failures a=pascalc
  mobile/android/fenix/app/metrics.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/IPProtectionFragment.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2048694 - Part 2: Record telemetry for when a generic network event occurs a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/ipprotection/IPProtectionTelemetryMiddleware.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/ipprotection/IPProtectionTelemetryMiddlewareTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2045990 - Version LightweightThemeManager data. a=pascalc
  toolkit/components/extensions/parent/ext-theme.js
  toolkit/components/extensions/test/xpcshell/test_ext_theme_startupData.js
  toolkit/mozapps/extensions/LightweightThemeManager.sys.mjs
  toolkit/mozapps/extensions/internal/XPIProvider.sys.mjs
  toolkit/mozapps/extensions/test/xpcshell/test_cleanup_theme_processedColors.js
Due: none

Bug 2045396 - Abort parser that otherwise could trigger the running of script when it shouldn't a=pascalc
  parser/htmlparser/nsParser.cpp
Due: none

Bug 2043462 - Make sure to clear pending load states for closed tabs. a=pascalc
  docshell/shistory/nsSHistory.cpp
Due: none

Bug 2050731 - Update documented minimum clang version to 19. a=pascalc DONTBUILD
  docs/code-quality/coding-style/using_cxx_in_firefox_code.rst
Due: none

Bug 2039990 - Part 1: Add threadsafe CurrentRemoteType getter, a=pascalc
  dom/ipc/ContentChild.cpp
  dom/ipc/ContentChild.h
Due: none

Bug 2039990 - Part 2: Add more principal validation to PBackground, a=pascalc
  ipc/glue/BackgroundImpl.cpp
  ipc/glue/BackgroundParent.h
  ipc/glue/BackgroundParentImpl.cpp
Due: none

Bug 2039990 - Part 3: Check ValidatePrincipal in child, a=pascalc
  dom/broadcastchannel/BroadcastChannel.cpp
  dom/cache/BoundStorageKey.cpp
  dom/cache/CacheStorage.cpp
  dom/fs/child/FileSystemBackgroundRequestHandler.cpp
  dom/simpledb/SDBConnection.cpp
  dom/storage/LocalStorageManager.cpp
  dom/storage/StorageActivityService.cpp
  dom/workers/sharedworkers/SharedWorker.cpp
  ipc/glue/BackgroundChild.h
  ipc/glue/BackgroundImpl.cpp
Due: none

Bug 2039990 - Part 4: Use ThreadsafeContentParentHandle in LocalStorage & ClientSource actors, a=pascalc
  dom/clients/manager/ClientManagerParent.cpp
  dom/clients/manager/ClientManagerService.cpp
  dom/clients/manager/ClientManagerService.h
  dom/clients/manager/ClientSourceParent.cpp
  dom/clients/manager/ClientSourceParent.h
  dom/localstorage/ActorsParent.cpp
Due: none

Bug 2039990 - Part 5: ValidatePrincipal in LocalStorage actors, a=pascalc
  dom/localstorage/ActorsParent.cpp
Due: none

Bug 2039990 - Part 6: Call ValidatePrincipal from PrincipalVerifier, a=pascalc
  dom/cache/PrincipalVerifier.cpp
Due: none

Bug 2039990 - Part 7: Validate ClientSources on creation, a=pascalc
  dom/clients/manager/ClientSource.cpp
  dom/clients/manager/ClientSourceParent.cpp
  dom/clients/manager/ClientValidation.cpp
  dom/clients/manager/ClientValidation.h
Due: none

Bug 2039990 - Part 8: We cant access cache for a different origin, a=pascalc
  dom/cache/test/mochitest/test_chrome_constructor.html
Due: none

Bug 2039990 - Part 9: Validate principals early during SharedWorker creation, a=pascalc
  dom/workers/sharedworkers/SharedWorker.cpp
  dom/workers/sharedworkers/SharedWorkerService.cpp
  dom/workers/sharedworkers/SharedWorkerService.h
Due: none

Bug 2039990 - Part 10: Validate principals during IndexedDB creation, a=pascalc
  dom/indexedDB/ActorsParent.cpp
  dom/indexedDB/IDBFactory.cpp
Due: none

Bug 2039990 - Part 11: Allow some tests to access system IndexedDB from content, a=pascalc
  dom/indexedDB/ActorsParent.cpp
  dom/indexedDB/IDBFactory.cpp
  dom/indexedDB/IndexedDBCommon.cpp
  dom/indexedDB/IndexedDBCommon.h
  dom/indexedDB/test/test_message_manager_ipc.html
  dom/indexedDB/test/unit/xpcshell-head-child-process.js
  dom/indexedDB/test/unit/xpcshell-parent-process.toml
  modules/libpref/init/StaticPrefList.yaml
Due: none

Bug 2039255 - Part 1: Fix context menu displaying over private browsing unlock screen a=pascalc
  mobile/android/android-components/components/feature/contextmenu/src/main/java/mozilla/components/feature/contextmenu/ContextMenuFeature.kt
  mobile/android/android-components/components/feature/contextmenu/src/test/java/mozilla/components/feature/contextmenu/ContextMenuFeatureTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2039255 - Part 2: Prevent permission prompts from displaying over the private browsing unlock screen. a=pascalc
  mobile/android/android-components/components/feature/sitepermissions/src/main/java/mozilla/components/feature/sitepermissions/SitePermissionsFeature.kt
  mobile/android/android-components/components/feature/sitepermissions/src/test/java/mozilla/components/feature/sitepermissions/SitePermissionsFeatureTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2039255 - Part 3: Obscure private browsing content during system permission requests. a=pascalc
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/action/BrowserAction.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/BrowserStateReducer.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/reducer/SystemPermissionReducer.kt
  mobile/android/android-components/components/browser/state/src/main/java/mozilla/components/browser/state/state/BrowserState.kt
  mobile/android/android-components/components/browser/state/src/test/java/mozilla/components/browser/state/reducer/BrowserStateReducerKtTest.kt
  mobile/android/android-components/components/feature/sitepermissions/src/main/java/mozilla/components/feature/sitepermissions/SitePermissionsFeature.kt
  mobile/android/android-components/components/feature/sitepermissions/src/test/java/mozilla/components/feature/sitepermissions/SitePermissionsFeatureTest.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/browser/BaseBrowserFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/pbmlock/BlackScreenOverlay.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/browser/BaseBrowserFragmentTest.kt
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

No Bug - Import translations from main
  mobile/android/android-components/components/feature/media/src/main/res/values-uk/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-th/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-tr/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-uk/strings.xml
  mobile/android/android-components/components/feature/summarize/src/main/res/values-uk/strings.xml
  mobile/android/fenix/app/src/main/res/values-th/strings.xml
  mobile/android/fenix/app/src/main/res/values-uk/strings.xml
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix
