Repository SAP/project-foxhound: changes, and which Taskcluster tasks are due for each by the changed paths.
All: newtab-unit-tests, devtools-tests, devtools-verify-bundle, eslint-plugin-mozilla, rust, tb-rust, compare-locales-android-components, compare-locales-focus, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix, buildconfig-android-components, buildconfig-focus, buildconfig-fenix, messagingsystem-unit-tests, design-tokens-tests, default

newtab-unit-tests:
  description: newtab unit tests
  platform: linux1804-64/opt
  treeherder:
    symbol: node(newtab)
    kind: test
    tier: 1
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: ubuntu1804-test
    max-run-time: 1800
  require-build:
    by-project:
      autoland:
  ...

devtools-tests:
  description: devtools node-based tests (for instance jest)
  platform: linux1804-64/opt
  attributes:
    code-review: true
  treeherder:
    symbol: node(devtools)
    kind: test
    tier: 1
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
    artifacts:
  ...

devtools-verify-bundle:
  description: devtools bundle checker
  platform: linux1804-64/opt
  attributes:
    code-review: true
  treeherder:
    symbol: node(devtools-bundle)
    kind: test
    tier: 2
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1200
    artifacts:
    - type: file
  ...

eslint-plugin-mozilla:
  description: eslint-plugin-mozilla integration tests
  platform: linux1804-64/opt
  treeherder:
    symbol: node(epm)
    kind: test
    tier: 1
  worker-type: t-linux-xlarge-source
  worker:
    docker-image:
      in-tree: lint
    max-run-time: 1800
  run:
    using: run-task
    cache-dotcache: true
  ...

rust:
  description: Rust vendoring validation
  treeherder:
    symbol: rust(vendor)
  worker:
    env:
      MACH_BUILD_PYTHON_NATIVE_PACKAGE_SOURCE: system
  run:
    cwd: '{checkout}'
    command: ./mach vendor rust --issues-json /builds/worker/issues.json
  fetches:
    toolchain:
    - linux64-cargo-vet
    - linux64-rust

tb-rust:
  description: Schedule job to verify the comm-central copy of third_party/rust
  treeherder:
    symbol: tb-rust
  run:
  ...

compare-locales-android-components:
  run:
    cwd: '{checkout}/mobile/android/android-components'
  treeherder:
    symbol: compare-locales(AC)

compare-locales-focus:
  run:
    cwd: '{checkout}/mobile/android/focus-android'
  treeherder:
    symbol: compare-locales(focus)

compare-locales-fenix:
  run:
    cwd: '{checkout}/mobile/android/fenix'
  treeherder:
    symbol: compare-locales(fenix)

detekt-android-components:
  run:
    pre-gradlew:
    - - cd
      - mobile/android/android-components
  treeherder:
    symbol: detekt(AC)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/gecko/mobile/android/android-components/build/reports
      type: directory

detekt-focus:
  run:
    pre-gradlew:
    - - cd
      - mobile/android/focus-android
  treeherder:
    symbol: detekt(focus)
  worker:
    artifacts:
    - name: public/reports
      path: /builds/worker/checkouts/gecko/mobile/android/focus-android/build/reports
      type: directory

android-components:
  run:
    pre-gradlew:
    - - cd
      - mobile/android/android-components
    gradlew:
    - --no-parallel
  treeherder:
    symbol: lint(AC)

Bug 2051165 - Remove unused ub18 packages and drop launchpad source URLs a=diannaS
  build/debian-packages/pygobject.diff
  build/debian-packages/ubuntu-glibc.diff
  taskcluster/kinds/packages/ubuntu.yml
Due: none

No Bug - Bumping Firefox l10n changesets r=release a=l10n-bump
  browser/locales/l10n-changesets.json
Due: none

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: none

Bug 2051274 - Guard gBackgroundFlushRunner deref in BackgroundFlushCallback. a=pascalc
  parser/html/nsHtml5TreeOpExecutor.cpp
Due: none

Bug 2046748 - Sanitizer: Always remove <base>. a=pascalc
  dom/security/sanitizer/Sanitizer.cpp
  testing/web-platform/meta/sanitizer-api/sanitizer-javascript-url.html.ini
  testing/web-platform/meta/sanitizer-api/sanitizer-removeUnsafe.html.ini
Due: none

Bug 2050407 - Revert "Bug 1998648: Use SafeRefPtr to keep track of OriginInfos" a=pascalc
  dom/quota/ActorsParent.cpp
  dom/quota/GroupInfo.cpp
  dom/quota/GroupInfo.h
  dom/quota/OriginInfo.h
  dom/quota/QuotaManager.h
  dom/quota/QuotaManagerImpl.h
Due: none

Bug 2050407 - Quota management: make OriginInfo inherit from SupportsThreadSafeWeakPtr a=pascalc
  dom/quota/CanonicalQuotaObject.cpp
  dom/quota/CanonicalQuotaObject.h
  dom/quota/OriginInfo.h
Due: none

Bug 2045410. a=pascalc
  dom/webgpu/SharedTextureD3D11.cpp
  dom/webgpu/SharedTextureDMABuf.cpp
  dom/webgpu/SharedTextureMacIOSurface.cpp
  dom/webgpu/ipc/WebGPUParent.cpp
  gfx/layers/RemoteTextureMap.cpp
Due: none

Bug 2050051 - Avoid clearing the cache when closing private window. a=pascalc
  browser/extensions/webcompat/lib/shims.js
  browser/extensions/webcompat/manifest.json
  browser/extensions/webcompat/tests/browser/browser.toml
  browser/extensions/webcompat/tests/browser/browser_private_close.js
  browser/extensions/webcompat/tests/browser/image_cache.html
  browser/extensions/webcompat/tests/browser/image_cache.png
Due: none

Bug 2041001 - Drop intermediary HTTPS result when following alias a=pascalc
  netwerk/dns/DNSPacket.cpp
Due: none

Bug 2050572 - Don't reuse `IMEContentObserver` if design mode has been changed a=pascalc
  dom/events/IMEContentObserver.cpp
  dom/events/IMEContentObserver.h
  testing/web-platform/tests/editing/crashtests/change-from-contenteditable-to-design-mode.html
Due: none

Bug 2050775 - Defer Windows launch-on-login first-run enablement to browser-idle-startup. a=pascalc
  browser/components/BrowserComponents.manifest
  browser/components/defaultwindowslaunchonlogin/DefaultWindowsLaunchOnLogin.sys.mjs
  browser/components/defaultwindowslaunchonlogin/tests/test_DefaultWindowsLaunchOnLogin.js
Due: none

Automatic version bump NO BUG a=release CLOSED TREE DONTBUILD
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
  mobile/android/version.txt
Due: none

Bug 2006467 - Part 1: Use an arbitrary null principal for blob:system URIs, a=pascalc
  dom/file/uri/BlobURLProtocolHandler.cpp
Due: none

Bug 2006467 - Part 2: Remove allowSystem for blobs, a=pascalc
  dom/ipc/BrowserParent.cpp
  netwerk/ipc/DocumentLoadListener.cpp
Due: none

Bug 2006467 - Part 3: Remove system blob URL support from WorkerLoadInfo, a=pascalc
  dom/workers/WorkerLoadInfo.cpp
Due: none

Bug 2006467 - Part 4: Remove browser_bug1104623.js, a=pascalc
  dom/workers/test/browser.toml
  dom/workers/test/browser_bug1104623.js
Due: none

Bug 2006467 - Part 5: Stop using blob based workers for onnx_fallback test, a=pascalc
  toolkit/components/ml/tests/browser/browser.toml
  toolkit/components/ml/tests/browser/browser_ml_best_onnx_fallback.js
  toolkit/components/ml/tests/browser/head.js
  toolkit/components/ml/tests/browser/ml_best_onnx_fallback_stub.worker.mjs
Due: none

Bug 2041912. a=pascalc
  .cargo/config.toml.in
  Cargo.lock
  gfx/wgpu_bindings/Cargo.toml
  gfx/wgpu_bindings/moz.yaml
  supply-chain/audits.toml
  third_party/rust/wgpu-core/.cargo-checksum.json
  third_party/rust/wgpu-core/src/command/compute.rs
  third_party/rust/wgpu-core/src/command/encoder.rs
  third_party/rust/wgpu-core/src/command/memory_init.rs
  third_party/rust/wgpu-core/src/command/mod.rs
  third_party/rust/wgpu-core/src/command/pass.rs
  third_party/rust/wgpu-core/src/command/query.rs
  third_party/rust/wgpu-core/src/command/render.rs
  third_party/rust/wgpu-core/src/device/queue.rs
  third_party/rust/wgpu-core/src/device/resource.rs
  third_party/rust/wgpu-core/src/lock/rank.rs
  third_party/rust/wgpu-core/src/resource.rs
  third_party/rust/wgpu-hal/.cargo-checksum.json
  third_party/rust/wgpu-hal/src/metal/command.rs
Due: rust, tb-rust

Bug 2035772 - Add vertical scroll modifier to Page Summaries Settings Screen a=pascalc
  mobile/android/android-components/components/feature/summarize/src/main/java/mozilla/components/feature/summarize/settings/SummarizeSettingsScreen.kt
Due: compare-locales-android-components, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2043820 - Reject javascript URI in nsDocShellLoadState. a=pascalc
  docshell/base/nsDocShellLoadState.cpp
Due: none

Revert "Bug 2050775 - Defer Windows launch-on-login first-run enablement to browser-idle-startup. a=pascalc" for failures a=backout
  browser/components/BrowserComponents.manifest
  browser/components/defaultwindowslaunchonlogin/DefaultWindowsLaunchOnLogin.sys.mjs
  browser/components/defaultwindowslaunchonlogin/tests/test_DefaultWindowsLaunchOnLogin.js
Due: none

No Bug, mozilla-beta repo-update remote-settings mobile-merino-manifest ct-logs - a=RyanVM
  mobile/android/android-components/components/service/merino-manifest/src/main/assets/manifest/manifest.json
  security/ct/CTKnownLogs.h
  security/manager/tools/log_list.json
  services/settings/dumps/blocklists/addons-bloomfilters.json
  services/settings/dumps/main/translations-models.json
Due: compare-locales-android-components, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2037689 - Use a D3D11 shader for HDR video conversions a=pascalc
  gfx/webrender_bindings/DCLayerTree.cpp
  gfx/webrender_bindings/DCLayerTree.h
  modules/libpref/init/StaticPrefList.yaml
Due: none

Bug 2049313 - Part 1: Fix vpn summer promo card conditions a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ipprotection/ui/IPProtectionBottomSheet.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/ipprotection/ui/IPProtectionBottomSheetFragment.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2049313 - Part 2: Fix vpn settings screen summer promo conditions a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/IPProtectionFragment.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2050083 - Don't short-circuit vpn entitlemnet for unauth users a=pascalc
  mobile/android/android-components/components/feature/ipprotection/src/main/java/mozilla/components/feature/ipprotection/store/Reducers.kt
  mobile/android/android-components/components/feature/ipprotection/src/test/java/mozilla/components/feature/ipprotection/IPProtectionReducerTest.kt
Due: compare-locales-android-components, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2050518 - Add getTodayStats() to PrivacyMetricsService for today's tracking-protection counts a=pascalc
  browser/components/protections/PrivacyMetricsService.sys.mjs
  browser/components/protections/test/xpcshell/test_PrivacyMetricsService.js
Due: none

Bug 2021136 - Allow growable SharedArrayBuffer in WebAssembly.Memory structured clone. a=pascalc
  js/src/jit-test/tests/wasm/wasm-shared-memory-resizable-cloning.js
  js/src/vm/StructuredClone.cpp
Due: none

Bug 2050888 - Enable Google Lens by default in nightly and in secret settings in beta a=pascalc
  mobile/android/fenix/app/nimbus.fml.yaml
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/SecretSettingsFragment.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2042242 Start fallback driver after queuing cubeb stream init a=pascalc
  dom/media/GraphDriver.cpp
  dom/media/GraphDriver.h
Due: none

Automatic version bump NO BUG a=release CLOSED TREE DONTBUILD
  browser/config/version_display.txt
  mobile/android/version.txt
Due: none

No Bug - Import translations from main
  mobile/android/android-components/components/browser/errorpages/src/main/res/values-ga-rIE/strings.xml
  mobile/android/android-components/components/browser/menu/src/main/res/values-ga-rIE/strings.xml
  mobile/android/android-components/components/browser/menu2/src/main/res/values-ga-rIE/strings.xml
  mobile/android/android-components/components/feature/app-links/src/main/res/values-sl/strings.xml
  mobile/android/android-components/components/feature/contextmenu/src/main/res/values-ga-rIE/strings.xml
  mobile/android/android-components/components/feature/ipprotection/src/main/res/values-trs/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-sl/strings.xml
  mobile/android/android-components/components/feature/media/src/main/res/values-trs/strings.xml
  mobile/android/android-components/components/feature/prompts/src/main/res/values-ga-rIE/strings.xml
  mobile/android/android-components/components/feature/summarize/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-en-rGB/strings.xml
  mobile/android/fenix/app/src/main/res/values-fur/strings.xml
  mobile/android/fenix/app/src/main/res/values-kk/strings.xml
  mobile/android/fenix/app/src/main/res/values-nb-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-nn-rNO/strings.xml
  mobile/android/fenix/app/src/main/res/values-pa-rIN/strings.xml
  mobile/android/fenix/app/src/main/res/values-sk/strings.xml
  mobile/android/fenix/app/src/main/res/values-sl/strings.xml
  mobile/android/fenix/app/src/main/res/values-vi/strings.xml
Due: compare-locales-android-components, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix

Bug 2051285 - Useless reinterpret_cast in EncryptingOutputStream_impl.h a=pascalc
  dom/quota/EncryptingOutputStream_impl.h
Due: none

Bug 2044536 - Quota: make EncryptedBlock::RoundedUpToBasicBlockSize public and use it in EncryptingOutputStream, and propertly clear buffer a=pascalc
  dom/quota/EncryptedBlock.h
  dom/quota/EncryptingOutputStream_impl.h
Due: none

Bug 2026301 - Synchronize ThreadSafeRequestHandle::mRunnable to fix cross-thread use-after-free a=pascalc
  dom/workers/ScriptLoader.cpp
  dom/workers/loader/CacheLoadHandler.cpp
  dom/workers/loader/NetworkLoadHandler.cpp
  dom/workers/loader/WorkerLoadContext.cpp
  dom/workers/loader/WorkerLoadContext.h
Due: none

Bug 2051666. a=pascalc
  gfx/2d/ScaledFontDWrite.cpp
Due: none

Path conditions:
  newtab-unit-tests: (any of: browser/components/newtab/**, browser/components/aboutwelcome/**, browser/components/asrouter/**) or (any of: browser/extensions/newtab/**)
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  devtools-verify-bundle: any of: devtools/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  rust: any of: Cargo.lock, **/Cargo.toml, python/mozbuild/mozbuild/vendor/vendor_rust.py, supply-chain/**, third_party/rust/**
  tb-rust: any of: Cargo.lock, Cargo.toml, toolkit/library/rust/shared/Cargo.toml
  compare-locales-android-components: any of: mobile/android/android-components/**
  compare-locales-focus: any of: mobile/android/focus-android/**
  compare-locales-fenix: any of: mobile/android/fenix/**
  detekt-android-components: any of: mobile/android/android-components/**
  detekt-focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  detekt-fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  android-components: any of: mobile/android/android-components/**
  focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  buildconfig-android-components: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml
  buildconfig-focus: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/focus-android/**/build.gradle, mobile/android/focus-android/.buildconfig.yml
  buildconfig-fenix: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/fenix/**/build.gradle, mobile/android/fenix/.buildconfig.yml
  messagingsystem-unit-tests: any of: browser/components/aboutwelcome/**, browser/components/asrouter/**
  design-tokens-tests: any of: toolkit/themes/shared/design-system/**
  default: any of: testing/web-platform/tests/tools/**
