Repository SAP/project-foxhound: changes, and which Taskcluster tasks are due for each by the changed paths.
All: newtab-unit-tests, devtools-tests, devtools-verify-bundle, eslint-plugin-mozilla, rust, tb-rust, compare-locales-android-components, compare-locales-focus, compare-locales-fenix, detekt-android-components, detekt-focus, detekt-fenix, android-components, focus, fenix, buildconfig-android-components, buildconfig-focus, buildconfig-fenix, messagingsystem-unit-tests, design-tokens-tests, default

Path conditions:
  newtab-unit-tests: (any of: browser/components/newtab/**, browser/components/aboutwelcome/**, browser/components/asrouter/**) or (any of: browser/extensions/newtab/**)
  devtools-tests: any of: devtools/client/**, devtools/shared/**
  devtools-verify-bundle: any of: devtools/**
  eslint-plugin-mozilla: any of: tools/lint/eslint/eslint-plugin-mozilla/**
  rust: any of: Cargo.lock, **/Cargo.toml, python/mozbuild/mozbuild/vendor/vendor_rust.py, supply-chain/**, third_party/rust/**
  tb-rust: any of: Cargo.lock, Cargo.toml, toolkit/library/rust/shared/Cargo.toml
  compare-locales-android-components: any of: mobile/android/android-components/**
  compare-locales-focus: any of: mobile/android/focus-android/**
  compare-locales-fenix: any of: mobile/android/fenix/**
  detekt-android-components: any of: mobile/android/android-components/**
  detekt-focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  detekt-fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  android-components: any of: mobile/android/android-components/**
  focus: any of: mobile/android/android-components/**, mobile/android/focus-android/**
  fenix: any of: mobile/android/android-components/**, mobile/android/fenix/**
  buildconfig-android-components: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml
  buildconfig-focus: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/focus-android/**/build.gradle, mobile/android/focus-android/.buildconfig.yml
  buildconfig-fenix: any of: mobile/android/android-components/**/build.gradle, mobile/android/android-components/.buildconfig.yml, mobile/android/fenix/**/build.gradle, mobile/android/fenix/.buildconfig.yml
  messagingsystem-unit-tests: any of: browser/components/aboutwelcome/**, browser/components/asrouter/**
  design-tokens-tests: any of: toolkit/themes/shared/design-system/**
  default: any of: testing/web-platform/tests/tools/**

No Bug - Bumping Mobile l10n changesets r=release a=l10n-bump
  mobile/locales/l10n-changesets.json
Due: none

Bug 2045917 - [devtools] Wait for 100ms after focus() in browser_fontinspector_editor-variable.js a=pascalc DONTBUILD
  devtools/client/inspector/fonts/test/browser_fontinspector_editor-variable.js
Due: devtools-tests, devtools-verify-bundle

Bug 2049429 - Remote Settings clients should not poll for changes on startup with a stale timestamp a=pascalc
  services/settings/UptakeTelemetry.sys.mjs
  services/settings/metrics.yaml
  services/settings/remote-settings.sys.mjs
  services/settings/test/unit/test_remote_settings_poll.js
Due: none

Bug 2044517 - Drop mChannelEntry on failure in registerTraceableChannel a=pascalc
  dom/chrome-webidl/ChannelWrapper.webidl
  toolkit/components/extensions/test/xpcshell/test_ChannelWrapper.js
  toolkit/components/extensions/test/xpcshell/test_ext_webRequest_StreamFilter_redirect_race.js
  toolkit/components/extensions/test/xpcshell/xpcshell-common-e10s.toml
  toolkit/components/extensions/webrequest/ChannelWrapper.cpp
  toolkit/components/extensions/webrequest/WebRequest.sys.mjs
Due: none

Bug 2045749: Add game in new dialog to prevent talkback issues. a=pascalc
  mobile/android/fenix/app/longfox/build.gradle
  mobile/android/fenix/app/longfox/src/main/kotlin/org/mozilla/fenix/longfox/LongFoxFeature.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/HomeFragment.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/home/logo/LogoController.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/home/logo/LogoControllerTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix, buildconfig-fenix

Bug 1982177 - Consistently use CSS pixels in sanitizePositionParams a=pascalc
  browser/components/extensions/parent/ext-windows.js
  browser/components/extensions/test/browser/browser-windows.toml
  browser/components/extensions/test/browser/browser_ext_windows_create_hidpi.js
  browser/components/extensions/test/browser/head.js
Due: none

Bug 2049785 - Replace Google Lens icon in Firefox Android a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/lens/GoogleLensAIControlFeature.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/lens/LensCameraScreen.kt
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/search/BrowserToolbarSearchMiddleware.kt
  mobile/android/fenix/app/src/main/res/drawable/ic_logo_google_lens_24.xml
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/search/BrowserToolbarSearchMiddlewareTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2049948 - Fix Built-in VPN padding in horizontal mode in the Settings menu a=pascalc
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/settings/IPProtectionPreference.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2047716: Ensure cache is valid. a=pascalc
  accessible/base/CacheConstants.h
  accessible/ipc/DocAccessibleParent.cpp
  accessible/ipc/RemoteAccessible.cpp
  accessible/ipc/RemoteAccessible.h
Due: none

Bug 2043993 - Delay the cached script processing by one tick to avoid processing too early. a=pascalc
  dom/script/ScriptLoader.cpp
  dom/script/ScriptLoader.h
  js/loader/ScriptLoadRequest.cpp
  js/loader/ScriptLoadRequest.h
Due: none

Bug 2047352 - Reflect the stack trace for the in-memory cached script in the Network Monitor. a=pascalc
  devtools/client/netmonitor/test/browser_mz.toml
  devtools/client/netmonitor/test/browser_net_stacktraces-cached.js
  devtools/client/netmonitor/test/html_cache-test-page-js.html
  devtools/client/netmonitor/test/js_cache-test.js
  devtools/client/netmonitor/test/js_cache-test2.js
  devtools/server/actors/resources/network-events-stacktraces.js
  dom/script/ScriptLoader.cpp
Due: devtools-tests, devtools-verify-bundle

Bug 2048964 - Downgrade system triggeringPrincipal from content a=pascalc
  browser/components/enterprisepolicies/tests/browser/browser_policy_extensionsettings.js
  toolkit/mozapps/extensions/amContentHandler.sys.mjs
  toolkit/mozapps/extensions/test/xpinstall/browser_block_fullscreen_prompt.js
  toolkit/mozapps/extensions/test/xpinstall/browser_required_useractivation.js
Due: none

Automatic version bump NO BUG a=release CLOSED TREE DONTBUILD
  browser/config/version.txt
  browser/config/version_display.txt
  config/milestone.txt
  mobile/android/version.txt
Due: none

Bug 2043035. . a=pascalc
  js/src/wasm/WasmInstance.cpp
  js/src/wasm/WasmTable.cpp
Due: none

Bug 2049407 Part 1 - Detach observers on canvas destruction a=pascalc
  dom/canvas/CanvasRenderingContext2D.cpp
Due: none

Bug 2045414, be consistent with the promise resolve/reject handling, a=pascalc
  dom/promise/Promise.cpp
Due: none

Bug 2016438 - fix Windows performance regression a=pascalc
  third_party/sqlite3/moz.yaml
  third_party/sqlite3/patches/bug-2016438-win-dos-device-drive-path.patch
  third_party/sqlite3/src/sqlite3.c
Due: none

Bug 2032645 - Unify Windows first run launch-on-login in browser-before-ui-startup, off by default, enabled via Nimbus. a=pascalc
  browser/app/profile/firefox.js
  browser/components/BrowserComponents.manifest
  browser/components/defaultwindowslaunchonlogin/DefaultWindowsLaunchOnLogin.sys.mjs
  browser/components/defaultwindowslaunchonlogin/tests/test_DefaultWindowsLaunchOnLogin.js
  browser/components/defaultwindowslaunchonlogin/tests/test_nimbus_defaultWindowsLaunchOnLogin_firstStartup.js
  browser/components/defaultwindowslaunchonlogin/tests/xpcshell.toml
  browser/components/preferences/tests/browser_windows_launch_on_login_msix.js
  browser/components/shell/StartupOSIntegration.sys.mjs
  browser/components/shell/test/unit/test_maybeCreateLaunchOnLoginOnFirstRun.js
  browser/components/shell/test/unit/xpcshell.toml
  toolkit/components/nimbus/FeatureManifest.yaml
Due: none

Bug 2049404 - Remove unused method from nsINode, add mainthread checks. a=pascalc
  dom/base/nsINode.cpp
  dom/base/nsINode.h
Due: none

Bug 2045515, avoid leaking a slot, a=pascalc
  dom/html/HTMLSlotElement.cpp
Due: none

Bug 2045514, bring back the old behavior of HTMLOptionsCollection usage, a=pascalc
  dom/html/HTMLOptionsCollection.cpp
Due: none

Bug 2045443. . a=pascalc
  js/src/wasm/WasmBaselineCompile.cpp
Due: none

Bug 1996558 - Encrypt SQLite databases from mozStorageService a=pascalc
  browser/components/backup/tests/marionette/manifest.toml
  dom/cache/Connection.cpp
  dom/cache/test/marionette/manifest.toml
  dom/cache/test/mochitest/test_cache_padding.html
  dom/indexedDB/test/marionette/manifest.toml
  modules/libpref/init/StaticPrefList.yaml
  netwerk/base/idna_glue/src/lib.rs
  security/keystore/KeyStorage.cpp
  security/keystore/KeyStorage.h
  security/keystore/Persist.cpp
  security/keystore/Persist.h
  security/keystore/Profile.cpp
  security/keystore/Profile.h
  security/keystore/moz.build
  security/keystore/tests/browser/browser.toml
  security/keystore/tests/browser/browser_connect.js
  security/keystore/tests/browser/browser_encrypt.js
  security/moz.build
  storage/mozIStorageAsyncConnection.idl
  storage/mozStorageConnection.cpp
  storage/mozStorageConnection.h
  storage/mozStorageService.cpp
  storage/test/unit/xpcshell.toml
  toolkit/components/places/ConcurrentConnection.cpp
  toolkit/components/places/Database.cpp
  toolkit/components/places/PlacesSemanticHistoryDatabase.sys.mjs
  toolkit/modules/Sqlite.sys.mjs
Due: none

Bug 1996558 - Add shared mozilla::HexEncode/HexDecode helpers in xpcom/io a=pascalc
  xpcom/io/Hex.cpp
  xpcom/io/Hex.h
  xpcom/io/moz.build
  xpcom/tests/gtest/TestHex.cpp
  xpcom/tests/gtest/moz.build
Due: none

Bug 1996558 - Address review feedback for SQLite encryption (excluding keystore). a=pascalc
  browser/components/backup/tests/marionette/manifest.toml
  dom/cache/test/marionette/manifest.toml
  dom/indexedDB/test/marionette/manifest.toml
  modules/libpref/init/StaticPrefList.yaml
  netwerk/base/idna_glue/src/lib.rs
  storage/ObfuscatingVFS.cpp
  storage/ObfuscatingVFS.h
  storage/StoragePathUtil.cpp
  storage/StoragePathUtil.h
  storage/moz.build
  storage/mozStorageConnection.cpp
  storage/mozStorageConnection.h
  storage/test/unit/test_attach_database_uri_encoded_path.js
  storage/test/unit/test_page_size_is_32k.js
  storage/test/unit/xpcshell.toml
  toolkit/components/places/Database.cpp
  toolkit/locales/en-US/chrome/mozapps/profile/profileSelection.properties
  toolkit/modules/Sqlite.sys.mjs
  toolkit/profile/test/xpcshell/test_encrypted_databases_marker.js
  toolkit/profile/test/xpcshell/xpcshell.toml
  toolkit/xre/nsAppRunner.cpp
  xpcom/system/nsIXULRuntime.idl
Due: none

Bug 1996558 - Replace security/keystore with security/lockstore (LocalKey). a=pascalc
  modules/libpref/init/StaticPrefList.yaml
  security/certverifier/NSSCertDBTrustDomain.cpp
  security/keystore/KeyStorage.cpp
  security/keystore/KeyStorage.h
  security/keystore/Persist.cpp
  security/keystore/Persist.h
  security/keystore/Profile.cpp
  security/keystore/Profile.h
  security/keystore/moz.build
  security/keystore/tests/browser/browser_connect.js
  security/manager/ssl/PKCS11ModuleDB.cpp
  security/manager/ssl/nsNSSComponent.cpp
  security/moz.build
  storage/SQLiteEncryption.cpp
  storage/SQLiteEncryption.h
  storage/moz.build
  storage/mozStorageConnection.cpp
  storage/mozStorageService.cpp
  storage/test/browser/encryption/browser.toml
  storage/test/browser/encryption/browser_connect.js
  storage/test/browser/encryption/browser_encrypt.js
  storage/test/moz.build
  toolkit/components/places/Database.cpp
  toolkit/xre/nsAppRunner.cpp
  toolkit/xre/nsAppRunner.h
Due: none

Bug 1996558 - Make perfdocs tolerate paths deleted within the changeset. a=pascalc
  python/mozperftest/mozperftest/perfdocs/perfdocs.py
Due: none

Bug 1996558 - Lock SQLite-encryption pref and route override through enterprise policy r=mkaply a=pascalc
  browser/components/enterprisepolicies/Policies.sys.mjs
  modules/libpref/init/all.js
  storage/test/browser/encryption/browser.toml
  storage/test/browser/encryption/browser_connect.js
  storage/test/browser/encryption/browser_encrypt.js
  storage/test/unit/test_attach_database_uri_encoded_path.js
  storage/test/unit/xpcshell.toml
  toolkit/modules/Troubleshoot.sys.mjs
  tools/lint/libpref/__init__.py
Due: none

Bug 1996558 - Make DEK key_size an explicit keystore_create_dek parameter a=pascalc
  security/lockstore/LockstoreService.cpp
  security/lockstore/LockstoreService.h
  security/lockstore/gtest/TestLockstoreDatastore.cpp
  security/lockstore/gtest/TestLockstoreKeystore.cpp
  security/lockstore/lockstore_ffi/src/lib.rs
  security/lockstore/lockstore_rs/src/keystore.rs
  security/lockstore/nsILockstore.idl
  security/lockstore/tests/gtest/TestLockstoreService.cpp
  security/lockstore/tests/unit/test_nsILockstore.js
  storage/SQLiteEncryption.cpp
Due: none

Bug 1996558 - Encrypt rusqlite/skv SQLite databases by making obfsvfs the default VFS a=pascalc
  dom/indexedDB/ActorsParent.cpp
  storage/ObfuscatingVFS.cpp
  storage/SQLiteEncryption.cpp
  storage/SQLiteEncryption.h
  storage/mozStorageService.cpp
  storage/mozStorageService.h
Due: none

Bug 1996558 - Shut down the SQLite encryption keystore at XPCOMWillShutdown and stop caching the per-file DEK a=pascalc
  security/lockstore/LockstoreService.cpp
  security/lockstore/LockstoreService.h
  storage/ObfuscatingVFS.cpp
  storage/SQLiteEncryption.cpp
Due: none

Bug 1996558 - Disable profile backup when SQLite at-rest encryption is enabled. a=pascalc
  browser/components/backup/BackupService.sys.mjs
  browser/components/backup/tests/browser/browser.toml
  browser/components/backup/tests/chrome/chrome.toml
  browser/components/backup/tests/marionette/backup_test_base.py
  browser/components/backup/tests/marionette/test_backup.py
  browser/components/backup/tests/xpcshell/test_BackupService_enabled.js
  browser/components/backup/tests/xpcshell/xpcshell.toml
  browser/components/preferences/tests/browser_backup_visibility.js
Due: none

Bug 1996558 - Make SQLite-encryption-sensitive xpcshell tests encryption-aware a=pascalc
  browser/components/asrouter/tests/browser/browser_asrouter_targeting.js
  browser/components/places/tests/unit/xpcshell.toml
  dom/cache/test/marionette/test_cacheapi_encryption_PBM.py
  dom/cache/test/xpcshell/xpcshell.toml
  dom/fs/test/gtest/parent/TestFileSystemUsageTracking.cpp
  dom/fs/test/xpcshell/xpcshell.toml
  dom/indexedDB/test/marionette/test_IDB_encryption_PBM.py
  dom/indexedDB/test/unit/xpcshell-parent-process.toml
  dom/indexedDB/test/unit/xpcshell-shared.toml
  dom/localstorage/test/unit/xpcshell.toml
  dom/quota/test/xpcshell/upgrades/xpcshell.toml
  dom/quota/test/xpcshell/xpcshell.toml
  dom/serviceworkers/test/browser_head.js
  extensions/permissions/test/unit/xpcshell.toml
  netwerk/test/unit/xpcshell.toml
  security/manager/ssl/tests/unit/xpcshell-smartcards.toml
  security/manager/ssl/tests/unit/xpcshell.toml
  storage/test/unit/test_cache_size.js
  storage/test/unit/test_connection_online_backup.js
  storage/test/unit/test_encryption_rejects_plaintext.js
  storage/test/unit/test_sqlite_secure_delete.js
  storage/test/unit/test_storage_service.js
  storage/test/unit/test_vacuum.js
  storage/test/unit/xpcshell.toml
  toolkit/components/extensions/test/xpcshell/xpcshell-common.toml
  toolkit/components/passwordmgr/test/unit/xpcshell.toml
  toolkit/components/places/tests/maintenance/xpcshell.toml
  toolkit/components/places/tests/migration/xpcshell.toml
  toolkit/components/places/tests/sync/xpcshell.toml
  toolkit/components/places/tests/unit/xpcshell.toml
  toolkit/components/url-classifier/tests/unit/xpcshell.toml
  toolkit/modules/tests/xpcshell/test_sqlite_autoVacuum.js
  toolkit/modules/tests/xpcshell/xpcshell.toml
Due: newtab-unit-tests, messagingsystem-unit-tests

Bug 1996558: apply code formatting via Lando a=pascalc
  dom/fs/test/gtest/parent/TestFileSystemUsageTracking.cpp
  security/lockstore/LockstoreService.cpp
  storage/ObfuscatingVFS.cpp
  toolkit/xre/nsAppRunner.cpp
Due: none

Bug 2050562 - suppress macosx1015 mochitest-browser-chrome on beta. a=RyanVM DONTBUILD
  taskcluster/gecko_taskgraph/optimize/__init__.py
  taskcluster/gecko_taskgraph/transforms/test/other.py
Due: none

Bug 2049515 - Add UTM source detection for Reddit attribution. a=RyanVM
  mobile/android/fenix/app/src/main/java/org/mozilla/fenix/components/metrics/InstallReferrerHandlingService.kt
  mobile/android/fenix/app/src/test/java/org/mozilla/fenix/components/metrics/InstallReferrerHandlingServiceTest.kt
Due: compare-locales-fenix, detekt-fenix, fenix

Bug 2049840 - Release urlpattern on main thread a=RyanVM
  netwerk/cache2/Dictionary.cpp
Due: none

Bug 2033002 - Add Preview Report support to Smart Window feedback modal a=RyanVM
  browser/components/aboutwelcome/content/aboutwelcome.bundle.js
  browser/components/aboutwelcome/content/aboutwelcome.css
  browser/components/aiwindow/ui/components/ai-window/ai-window.mjs
  browser/components/aiwindow/ui/modules/FeedbackModal.sys.mjs
  browser/components/aiwindow/ui/test/xpcshell/test_FeedbackModal.js
  browser/components/asrouter/content-src/components/ContentTiles.jsx
  browser/components/asrouter/content-src/components/ContentToggle.jsx
  browser/components/asrouter/content-src/components/MultiStageAboutWelcome.jsx
  browser/components/asrouter/content-src/components/MultiStageProtonScreen.jsx
  browser/components/asrouter/content-src/components/TextBoxTile.jsx
  browser/components/asrouter/content-src/styles/_multistage.scss
  browser/components/asrouter/content/components/asrouter-newtab-multistage/asrouter-newtab-multistage.bundle.js
  browser/components/asrouter/content/components/asrouter-newtab-multistage/asrouter-newtab-multistage.css
  browser/components/asrouter/modules/OnboardingMessageProvider.sys.mjs
  browser/components/asrouter/tests/unit/content-src/components/ContentTiles.test.jsx
  browser/components/asrouter/tests/unit/content-src/components/ContentToggle.test.jsx
  browser/components/asrouter/tests/unit/content-src/components/TextBoxTile.test.jsx
  browser/locales-preview/aiWindow.ftl
Due: newtab-unit-tests, messagingsystem-unit-tests

Bug 2034541 - Add dedicated highly_sensitive metric for Smart Window feedback chat history a=RyanVM
  browser/base/content/spotlight.js
  browser/components/aboutwelcome/modules/AboutWelcomeTelemetry.sys.mjs
  browser/components/aboutwelcome/tests/xpcshell/test_AboutWelcomeTelemetry.js
  browser/components/asrouter/metrics.yaml
  browser/components/asrouter/tests/browser/browser_multistage_spotlight_telemetry.js
Due: newtab-unit-tests, messagingsystem-unit-tests

Bug 2050195 - Fix glean.error.invalid_value for microsurvey.smart_window.chat metric a=RyanVM
  browser/components/aboutwelcome/modules/AboutWelcomeTelemetry.sys.mjs
  browser/components/asrouter/metrics.yaml
Due: newtab-unit-tests, messagingsystem-unit-tests
